# Analysis of Health Impacts and Mortality Risk of Air Pollution in Different Countries

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy import desc

In [2]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [3]:
# Connect to local database
DATABASE_URI = 'postgresql://postgres:1372@localhost:5432/air_qualities'
engine = create_engine(DATABASE_URI)

In [4]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(autoload_with=engine)

In [5]:
# View all of the classes that automap found
Base.classes.keys()

['number_of_deaths_by_risk_factor',
 'countries_codes_and_coordinates',
 'ambient_air_quality_data',
 'death_rates_from_air_pollution',
 'disease_burden_by_risk_factor',
 'outdoor_air_death_rates_by_age',
 'aq_pollution_mortality_data']

In [6]:
# Save references to each table
Countries_codes_and_coordinates = Base.classes.countries_codes_and_coordinates
Ambient_air_quality_data = Base.classes.ambient_air_quality_data
Death_rates_from_air_pollution = Base.classes.death_rates_from_air_pollution
Disease_burden_by_risk_factor = Base.classes.disease_burden_by_risk_factor
Number_of_deaths_by_risk_factor = Base.classes.number_of_deaths_by_risk_factor
Outdoor_air_death_rates_by_age = Base.classes.outdoor_air_death_rates_by_age
Aq_pollution_mortality_data = Base.classes.aq_pollution_mortality_data

In [7]:
# Create our session (link) from Python to the DB
session = Session(engine)
session

In [8]:
connection = engine.connect()

# Ambient Air Quality Data

In [9]:
CCC = pd.read_sql('select * from Countries_codes_and_coordinates', connection)
CCC

,coor_id,country,alpha_2_code,alpha_3_code,numeric_code,latitude,longitude
0,LL1,Afghanistan,AF,AFG,4,33.0000,65.0
1,LL2,Albania,AL,ALB,8,41.0000,20.0
2,LL3,Algeria,DZ,DZA,12,28.0000,3.0
3,LL4,American Samoa,AS,ASM,16,-14.3333,-170.0
4,LL5,Andorra,AD,AND,20,42.5000,1.6
...,...,...,...,...,...,...,...
240,LL252,Western Sahara,EH,ESH,732,24.5000,-13.0
241,LL253,Yemen,YE,YEM,887,15.0000,48.0
242,LL254,Zambia,ZM,ZMB,894,-15.0000,30.0
243,LL255,Zimbabwe,ZW,ZWE,716,-20.0000,30.0
244,LL256,None,NONE,NA,0,0.0000,0.0

In [10]:
country_informaiton=session.query(Countries_codes_and_coordinates.country,
                                  (Countries_codes_and_coordinates.latitude).label("lat"),
                                  (Countries_codes_and_coordinates.longitude).label("lng")
                                 ).distinct().all()
country_informaiton

[('Tonga', -20.0, -175.0),
 ('Azerbaijan', 40.5, 47.5),
 ('Mozambique', -18.25, 35.0),
 ('Kiribati', 1.4167, 173.0),
 ('Panama', 9.0, -80.0),
 ('French Polynesia', -15.0, -140.0),
 ('American Samoa', -14.3333, -170.0),
 ('Marshall Islands', 9.0, 168.0),
 ('Tanzania, United Republic of', -6.0, 35.0),
 ('Italy', 42.8333, 12.8333),
 ('San Marino', 43.7667, 12.4167),
 ('El Salvador', 13.8333, -88.9167),
 ('Antigua and Barbuda', 17.05, -61.8),
 ('Dominican Republic', 19.0, -70.6667),
 ('Saint Pierre and Miquelon', 46.8333, -56.3333),
 ('Jamaica', 18.25, -77.5),
 ('Egypt', 27.0, 30.0),
 ('Suriname', 4.0, -56.0),
 ('Bolivia', -17.0, -65.0),
 ('United States', 38.0, -97.0),
 ('French Southern Territories', -43.0, 67.0),
 ('Cook Islands', -21.2333, -159.7667),
 ('Ukraine', 49.0, 32.0),
 ('Jordan', 31.0, 36.0),
 ('Poland', 52.0, 20.0),
 ('Anguilla', 18.25, -63.1667),
 ('Madagascar', -20.0, 47.0),
 ('Armenia', 40.0, 45.0),
 ('Malta', 35.8333, 14.5833),
 ('India', 20.0, 77.0),
 ('Latvia', 57.0, 25.0),
 ('Montserrat', 16.75, -62.2),
 ('Eritrea', 15.0, 39.0),
 ('Netherlands', 52.5, 5.75),
 ('Ghana', 8.0, -2.0),
 ('Morocco', 32.0, -5.0),
 ('Bouvet Island', -54.4333, 3.4),
 ('Holy See (Vatican City State)', 41.9, 12.45),
 ('Equatorial Guinea', 2.0, 10.0),
 ('Luxembourg', 49.75, 6.1667),
 ('Liberia', 6.5, -9.5),
 ('Cambodia', 13.0, 105.0),
 ('Belize', 17.25, -88.75),
 ('Hong Kong', 22.25, 114.1667),
 ('Guernsey', 49.5, -2.56),
 ('Turkey', 39.0, 35.0),
 ('Sri Lanka', 7.0, 81.0),
 ('Burundi', -3.5, 30.0),
 ('British Indian Ocean Territory', -6.0, 71.5),
 ('Trinidad and Tobago', 11.0, -61.0),
 ('Sweden', 62.0, 15.0),
 ('Andorra', 42.5, 1.6),
 ('South Korea', 37.0, 127.5),
 ('Zimbabwe', -20.0, 30.0),
 ('Vanuatu', -16.0, 167.0),
 ('Pitcairn', -24.7, -127.4),
 ('Botswana', -22.0, 24.0),
 ('Turks and Caicos Islands', 21.75, -71.5833),
 ('Australia', -27.0, 133.0),
 ('Brunei Darussalam', 4.5, 114.6667),
 ('South Sudan', 8.0, 30.0),
 ('Djibouti', 11.5, 43.0),
 ('New Zealand', -41.0, 174.0),
 ('Switzerland', 47.0, 8.0),
 ('Cuba', 21.5, -80.0),
 ('Peru', -10.0, -76.0),
 ('Christmas Island', -10.5, 105.6667),
 ('Northern Mariana Islands', 15.2, 145.75),
 ('None', 0.0, 0.0),
 ('Qatar', 25.5, 51.25),
 ('RÃ©union', -21.1, 55.6),
 ('Martinique', 14.6667, -61.0),
 ('Moldova, Republic of', 47.0, 29.0),
 ('Uzbekistan', 41.0, 64.0),
 ('Maldives', 3.25, 73.0),
 ('Albania', 41.0, 20.0),
 ('Syrian Arab Republic', 35.0, 38.0),
 ('Chad', 15.0, 19.0),
 ('Afghanistan', 33.0, 65.0),
 ('Colombia', 4.0, -72.0),
 ('Saint Kitts and Nevis', 17.3333, -62.75),
 ('Mongolia', 46.0, 105.0),
 ('United States Minor Outlying Islands', 19.2833, 166.6),
 ('Kyrgyzstan', 41.0, 75.0),
 ('Germany', 51.0, 9.0),
 ('Samoa', -13.5833, -172.3333),
 ('Taiwan', 23.5, 121.0),
 ('Malawi', -13.5, 34.0),
 ('Turkmenistan', 40.0, 60.0),
 ('Iceland', 65.0, -18.0),
 ('Bahrain', 26.0, 50.55),
 ("Korea, Democratic People's Republic of", 40.0, 127.0),
 ("Lao People's Democratic Republic", 18.0, 105.0),
 ('Guyana', 5.0, -59.0),
 ('Austria', 47.3333, 13.3333),
 ('Dominica', 15.4167, -61.3333),
 ('Indonesia', -5.0, 120.0),
 ('Finland', 64.0, 26.0),
 ('Netherlands Antilles', 12.25, -68.75),
 ('Estonia', 59.0, 26.0),
 ('Bosnia and Herzegovina', 44.0, 18.0),
 ('Haiti', 19.0, -72.4167),
 ('Swaziland', -26.5, 31.5),
 ('Cayman Islands', 19.5, -80.5),
 ('Israel', 31.5, 34.75),
 ('Gibraltar', 36.1833, -5.3667),
 ('Timor-Leste', -8.55, 125.5167),
 ('Japan', 36.0, 138.0),
 ('Niger', 16.0, 8.0),
 ('Costa Rica', 10.0, -84.0),
 ('Serbia', 44.0, 21.0),
 ('Belarus', 53.0, 28.0),
 ('Uruguay', -33.0, -56.0),
 ('Svalbard and Jan Mayen', 78.0, 20.0),
 ('Ireland', 53.0, -8.0),
 ('New Caledonia', -21.5, 165.5),
 ('Denmark', 56.0, 10.0),
 ('Jersey', 49.21, -2.13),
 ('Honduras', 15.0, -86.5),
 ('Mauritius', -20.2833, 57.55),
 ('Monaco', 43.7333, 7.4),
 ('Sudan', 15.0, 30.0),
 ('Belgium', 50.8333, 4.0),
 ('Solomon Islands', -8.0, 159.0),
 ('Macao', 22.1667, 113.55),
 ('Russia', 60.0, 100.0),
 ('Antarctica', -90.0, 0.0),
 ('Bahamas', 24.25, -76.0),
 ('Western Sahara', 24.5, -13.0),
 ('Palau', 7.5, 134.5),
 ('Guinea-Bissau', 12.0, -15.0),
 ('United Arab Emirates', 24.0, 54.0),
 ('Guadeloupe', 16.25, -61.5833),
 ('Cape Verde', 16.0, -24.0),
 ('Congo, the Democratic Republic of the', 0.0, 25.0),
 ('Guam', 13.4667, 144.7833),
 ('South Georgia and the South Sandwich Islands', -54.5, -37.0),
 ('Oman', 21.0, 57.0),
 ('Sao Tome and Principe', 1.0, 7.0),
 ('Guatemala', 15.5, -90.25),
 ('Benin', 9.5, 2.25),
 ('Norway', 62.0, 10.0),
 ('Rwanda', -2.0, 30.0),
 ('Romania', 46.0, 25.0),
 ('Aruba', 12.5, -69.9667),
 ('Yemen', 15.0, 48.0),
 ('Canada', 60.0, -95.0),
 ('Tokelau', -9.0, -172.0),
 ('Kenya', 1.0, 38.0),
 ('Cameroon', 6.0, 12.0),
 ('Tunisia', 34.0, 9.0),
 ('Sierra Leone', 8.5, -11.5),
 ('Lithuania', 56.0, 24.0),
 ('Mayotte', -12.8333, 45.1667),
 ('Nepal', 28.0, 84.0),
 ('French Guiana', 4.0, -53.0),
 ('Georgia', 42.0, 43.5),
 ('Virgin Islands, U.S.', 18.3333, -64.8333),
 ('United Kingdom', 54.0, -2.0),
 ('Nigeria', 10.0, 8.0),
 ('Nicaragua', 13.0, -85.0),
 ('Cocos (Keeling) Islands', -12.5, 96.8333),
 ('Micronesia, Federated States of', 6.9167, 158.25),
 ('Liechtenstein', 47.1667, 9.5333),
 ('Algeria', 28.0, 3.0),
 ('Greece', 39.0, 22.0),
 ('Bulgaria', 43.0, 25.0),
 ('Spain', 40.0, -4.0),
 ('Croatia', 45.1667, 15.5),
 ('Ivory Coast', 8.0, -5.0),
 ('Malaysia', 2.5, 112.5),
 ('Lebanon', 33.8333, 35.8333),
 ('Kazakhstan', 48.0, 68.0),
 ('Czech Republic', 49.75, 15.5),
 ('Burkina Faso', 13.0, -2.0),
 ('Heard Island and McDonald Islands', -53.1, 72.5167),
 ('Paraguay', -23.0, -58.0),
 ('Senegal', 14.0, -14.0),
 ('Singapore', 1.3667, 103.8),
 ('Libya', 25.0, 17.0),
 ('Togo', 8.0, 1.1667),
 ('Mexico', 23.0, -102.0),
 ('Niue', -19.0333, -169.8667),
 ('Isle of Man', 54.23, -4.55),
 ('Kuwait', 29.3375, 47.6581),
 ('Ethiopia', 8.0, 38.0),
 ('Macedonia, the former Yugoslav Republic of', 41.8333, 22.0),
 ('Angola', -12.5, 18.5),
 ('Thailand', 15.0, 100.0),
 ('Saudi Arabia', 25.0, 45.0),
 ('Iraq', 33.0, 44.0),
 ('Ecuador', -2.0, -77.5),
 ('South Africa', -29.0, 24.0),
 ('Slovakia', 48.6667, 19.5),
 ('Gabon', -1.0, 11.75),
 ('Vietnam', 16.0, 106.0),
 ('Papua New Guinea', -6.0, 147.0),
 ('Cyprus', 35.0, 33.0),
 ('Brazil', -10.0, -55.0),
 ('Gambia', 13.4667, -16.5667),
 ('Falkland Islands (Malvinas)', -51.75, -59.0),
 ('Zambia', -15.0, 30.0),
 ('Wallis and Futuna', -13.3, -176.2),
 ('Puerto Rico', 18.25, -66.5),
 ('Virgin Islands, British', 18.5, -64.5),
 ('Bangladesh', 24.0, 90.0),
 ('Grenada', 12.1167, -61.6667),
 ('Uganda', 1.0, 32.0),
 ('Mali', 17.0, -4.0),
 ('Lesotho', -29.5, 28.5),
 ('Namibia', -22.0, 17.0),
 ('Saint Helena, Ascension and Tristan da Cunha', -15.9333, -5.7),
 ('China', 35.0, 105.0),
 ('Barbados', 13.1667, -59.5333),
 ('St. Vincent and the Grenadines', 13.25, -61.2),
 ('Hungary', 47.0, 20.0),
 ('Mauritania', 20.0, -12.0),
 ('Guinea', 11.0, -10.0),
 ('Nauru', -0.5333, 166.9167),
 ('Pakistan', 30.0, 70.0),
 ('Slovenia', 46.0, 15.0),
 ('Argentina', -34.0, -64.0),
 ('Portugal', 39.5, -8.0),
 ('Chile', -30.0, -71.0),
 ('Myanmar', 22.0, 98.0),
 ('Comoros', -12.1667, 44.25),
 ('Seychelles', -4.5833, 55.6667),
 ('Saint Lucia', 13.8833, -61.1333),
 ('Faroe Islands', 62.0, -7.0),
 ('Montenegro', 42.0, 19.0),
 ('Greenland', 72.0, -40.0),
 ('Tajikistan', 39.0, 71.0),
 ('Congo', -1.0, 15.0),
 ('Bhutan', 27.5, 90.5),
 ('Iran, Islamic Republic of', 32.0, 53.0),
 ('Philippines', 13.0, 122.0),
 ('Norfolk Island', -29.0333, 167.95),
 ('Central African Republic', 7.0, 21.0),
 ('Tuvalu', -8.0, 178.0),
 ('Fiji', -18.0, 175.0),
 ('Bermuda', 32.3333, -64.75),
 ('Palestinian Territory, Occupied', 32.0, 35.25),
 ('Venezuela', 8.0, -66.0),
 ('Somalia', 10.0, 49.0),
 ('France', 46.0, 2.0)]

In [11]:
source={}
country_source=[]
country_name =[]
for row in country_informaiton:
    country = row.country
    lat = row.lat
    lng = row.lng
    
    source = {
        'country': country,
        'lat': lat,
        'lng': lng
    }
    country_source.append(source)
    country_name.append(country)
country = {
    'name': country_name,
    'metadata': country_source
}
country

{'name': ['Tonga',
  'Azerbaijan',
  'Mozambique',
  'Kiribati',
  'Panama',
  'French Polynesia',
  'American Samoa',
  'Marshall Islands',
  'Tanzania, United Republic of',
  'Italy',
  'San Marino',
  'El Salvador',
  'Antigua and Barbuda',
  'Dominican Republic',
  'Saint Pierre and Miquelon',
  'Jamaica',
  'Egypt',
  'Suriname',
  'Bolivia',
  'United States',
  'French Southern Territories',
  'Cook Islands',
  'Ukraine',
  'Jordan',
  'Poland',
  'Anguilla',
  'Madagascar',
  'Armenia',
  'Malta',
  'India',
  'Latvia',
  'Montserrat',
  'Eritrea',
  'Netherlands',
  'Ghana',
  'Morocco',
  'Bouvet Island',
  'Holy See (Vatican City State)',
  'Equatorial Guinea',
  'Luxembourg',
  'Liberia',
  'Cambodia',
  'Belize',
  'Hong Kong',
  'Guernsey',
  'Turkey',
  'Sri Lanka',
  'Burundi',
  'British Indian Ocean Territory',
  'Trinidad and Tobago',
  'Sweden',
  'Andorra',
  'South Korea',
  'Zimbabwe',
  'Vanuatu',
  'Pitcairn',
  'Botswana',
  'Turks and Caicos Islands',
  'Australia',
  'Brunei Darussalam',
  'South Sudan',
  'Djibouti',
  'New Zealand',
  'Switzerland',
  'Cuba',
  'Peru',
  'Christmas Island',
  'Northern Mariana Islands',
  'None',
  'Qatar',
  'RÃ©union',
  'Martinique',
  'Moldova, Republic of',
  'Uzbekistan',
  'Maldives',
  'Albania',
  'Syrian Arab Republic',
  'Chad',
  'Afghanistan',
  'Colombia',
  'Saint Kitts and Nevis',
  'Mongolia',
  'United States Minor Outlying Islands',
  'Kyrgyzstan',
  'Germany',
  'Samoa',
  'Taiwan',
  'Malawi',
  'Turkmenistan',
  'Iceland',
  'Bahrain',
  "Korea, Democratic People's Republic of",
  "Lao People's Democratic Republic",
  'Guyana',
  'Austria',
  'Dominica',
  'Indonesia',
  'Finland',
  'Netherlands Antilles',
  'Estonia',
  'Bosnia and Herzegovina',
  'Haiti',
  'Swaziland',
  'Cayman Islands',
  'Israel',
  'Gibraltar',
  'Timor-Leste',
  'Japan',
  'Niger',
  'Costa Rica',
  'Serbia',
  'Belarus',
  'Uruguay',
  'Svalbard and Jan Mayen',
  'Ireland',
  'New Caledonia',
  'Denmark',
  'Jersey',
  'Honduras',
  'Mauritius',
  'Monaco',
  'Sudan',
  'Belgium',
  'Solomon Islands',
  'Macao',
  'Russia',
  'Antarctica',
  'Bahamas',
  'Western Sahara',
  'Palau',
  'Guinea-Bissau',
  'United Arab Emirates',
  'Guadeloupe',
  'Cape Verde',
  'Congo, the Democratic Republic of the',
  'Guam',
  'South Georgia and the South Sandwich Islands',
  'Oman',
  'Sao Tome and Principe',
  'Guatemala',
  'Benin',
  'Norway',
  'Rwanda',
  'Romania',
  'Aruba',
  'Yemen',
  'Canada',
  'Tokelau',
  'Kenya',
  'Cameroon',
  'Tunisia',
  'Sierra Leone',
  'Lithuania',
  'Mayotte',
  'Nepal',
  'French Guiana',
  'Georgia',
  'Virgin Islands, U.S.',
  'United Kingdom',
  'Nigeria',
  'Nicaragua',
  'Cocos (Keeling) Islands',
  'Micronesia, Federated States of',
  'Liechtenstein',
  'Algeria',
  'Greece',
  'Bulgaria',
  'Spain',
  'Croatia',
  'Ivory Coast',
  'Malaysia',
  'Lebanon',
  'Kazakhstan',
  'Czech Republic',
  'Burkina Faso',
  'Heard Island and McDonald Islands',
  'Paraguay',
  'Senegal',
  'Singapore',
  'Libya',
  'Togo',
  'Mexico',
  'Niue',
  'Isle of Man',
  'Kuwait',
  'Ethiopia',
  'Macedonia, the former Yugoslav Republic of',
  'Angola',
  'Thailand',
  'Saudi Arabia',
  'Iraq',
  'Ecuador',
  'South Africa',
  'Slovakia',
  'Gabon',
  'Vietnam',
  'Papua New Guinea',
  'Cyprus',
  'Brazil',
  'Gambia',
  'Falkland Islands (Malvinas)',
  'Zambia',
  'Wallis and Futuna',
  'Puerto Rico',
  'Virgin Islands, British',
  'Bangladesh',
  'Grenada',
  'Uganda',
  'Mali',
  'Lesotho',
  'Namibia',
  'Saint Helena, Ascension and Tristan da Cunha',
  'China',
  'Barbados',
  'St. Vincent and the Grenadines',
  'Hungary',
  'Mauritania',
  'Guinea',
  'Nauru',
  'Pakistan',
  'Slovenia',
  'Argentina',
  'Portugal',
  'Chile',
  'Myanmar',
  'Comoros',
  'Seychelles',
  'Saint Lucia',
  'Faroe Islands',
  'Montenegro',
  'Greenland',
  'Tajikistan',
  'Congo',
  'Bhutan',
  'Iran, Islamic Republic of',
  'Philippines',
  'Norfolk Island',
  'Central African Republic',
  'Tuvalu',
  'Fiji',
  'Bermuda',
  'Palestinian Territory, Occupied',
  'Venezuela',
  'Somalia',
  'France'],
 'metadata': [{'country': 'Tonga', 'lat': -20.0, 'lng': -175.0},
  {'country': 'Azerbaijan', 'lat': 40.5, 'lng': 47.5},
  {'country': 'Mozambique', 'lat': -18.25, 'lng': 35.0},
  {'country': 'Kiribati', 'lat': 1.4167, 'lng': 173.0},
  {'country': 'Panama', 'lat': 9.0, 'lng': -80.0},
  {'country': 'French Polynesia', 'lat': -15.0, 'lng': -140.0},
  {'country': 'American Samoa', 'lat': -14.3333, 'lng': -170.0},
  {'country': 'Marshall Islands', 'lat': 9.0, 'lng': 168.0},
  {'country': 'Tanzania, United Republic of', 'lat': -6.0, 'lng': 35.0},
  {'country': 'Italy', 'lat': 42.8333, 'lng': 12.8333},
  {'country': 'San Marino', 'lat': 43.7667, 'lng': 12.4167},
  {'country': 'El Salvador', 'lat': 13.8333, 'lng': -88.9167},
  {'country': 'Antigua and Barbuda', 'lat': 17.05, 'lng': -61.8},
  {'country': 'Dominican Republic', 'lat': 19.0, 'lng': -70.6667},
  {'country': 'Saint Pierre and Miquelon', 'lat': 46.8333, 'lng': -56.3333},
  {'country': 'Jamaica', 'lat': 18.25, 'lng': -77.5},
  {'country': 'Egypt', 'lat': 27.0, 'lng': 30.0},
  {'country': 'Suriname', 'lat': 4.0, 'lng': -56.0},
  {'country': 'Bolivia', 'lat': -17.0, 'lng': -65.0},
  {'country': 'United States', 'lat': 38.0, 'lng': -97.0},
  {'country': 'French Southern Territories', 'lat': -43.0, 'lng': 67.0},
  {'country': 'Cook Islands', 'lat': -21.2333, 'lng': -159.7667},
  {'country': 'Ukraine', 'lat': 49.0, 'lng': 32.0},
  {'country': 'Jordan', 'lat': 31.0, 'lng': 36.0},
  {'country': 'Poland', 'lat': 52.0, 'lng': 20.0},
  {'country': 'Anguilla', 'lat': 18.25, 'lng': -63.1667},
  {'country': 'Madagascar', 'lat': -20.0, 'lng': 47.0},
  {'country': 'Armenia', 'lat': 40.0, 'lng': 45.0},
  {'country': 'Malta', 'lat': 35.8333, 'lng': 14.5833},
  {'country': 'India', 'lat': 20.0, 'lng': 77.0},
  {'country': 'Latvia', 'lat': 57.0, 'lng': 25.0},
  {'country': 'Montserrat', 'lat': 16.75, 'lng': -62.2},
  {'country': 'Eritrea', 'lat': 15.0, 'lng': 39.0},
  {'country': 'Netherlands', 'lat': 52.5, 'lng': 5.75},
  {'country': 'Ghana', 'lat': 8.0, 'lng': -2.0},
  {'country': 'Morocco', 'lat': 32.0, 'lng': -5.0},
  {'country': 'Bouvet Island', 'lat': -54.4333, 'lng': 3.4},
  {'country': 'Holy See (Vatican City State)', 'lat': 41.9, 'lng': 12.45},
  {'country': 'Equatorial Guinea', 'lat': 2.0, 'lng': 10.0},
  {'country': 'Luxembourg', 'lat': 49.75, 'lng': 6.1667},
  {'country': 'Liberia', 'lat': 6.5, 'lng': -9.5},
  {'country': 'Cambodia', 'lat': 13.0, 'lng': 105.0},
  {'country': 'Belize', 'lat': 17.25, 'lng': -88.75},
  {'country': 'Hong Kong', 'lat': 22.25, 'lng': 114.1667},
  {'country': 'Guernsey', 'lat': 49.5, 'lng': -2.56},
  {'country': 'Turkey', 'lat': 39.0, 'lng': 35.0},
  {'country': 'Sri Lanka', 'lat': 7.0, 'lng': 81.0},
  {'country': 'Burundi', 'lat': -3.5, 'lng': 30.0},
  {'country': 'British Indian Ocean Territory', 'lat': -6.0, 'lng': 71.5},
  {'country': 'Trinidad and Tobago', 'lat': 11.0, 'lng': -61.0},
  {'country': 'Sweden', 'lat': 62.0, 'lng': 15.0},
  {'country': 'Andorra', 'lat': 42.5, 'lng': 1.6},
  {'country': 'South Korea', 'lat': 37.0, 'lng': 127.5},
  {'country': 'Zimbabwe', 'lat': -20.0, 'lng': 30.0},
  {'country': 'Vanuatu', 'lat': -16.0, 'lng': 167.0},
  {'country': 'Pitcairn', 'lat': -24.7, 'lng': -127.4},
  {'country': 'Botswana', 'lat': -22.0, 'lng': 24.0},
  {'country': 'Turks and Caicos Islands', 'lat': 21.75, 'lng': -71.5833},
  {'country': 'Australia', 'lat': -27.0, 'lng': 133.0},
  {'country': 'Brunei Darussalam', 'lat': 4.5, 'lng': 114.6667},
  {'country': 'South Sudan', 'lat': 8.0, 'lng': 30.0},
  {'country': 'Djibouti', 'lat': 11.5, 'lng': 43.0},
  {'country': 'New Zealand', 'lat': -41.0, 'lng': 174.0},
  {'country': 'Switzerland', 'lat': 47.0, 'lng': 8.0},
  {'country': 'Cuba', 'lat': 21.5, 'lng': -80.0},
  {'country': 'Peru', 'lat': -10.0, 'lng': -76.0},
  {'country': 'Christmas Island', 'lat': -10.5, 'lng': 105.6667},
  {'country': 'Northern Mariana Islands', 'lat': 15.2, 'lng': 145.75},
  {'country': 'None', 'lat': 0.0, 'lng': 0.0},
  {'country': 'Qatar', 'lat': 25.5, 'lng': 51.25},
  {'country': 'RÃ©union', 'lat': -21.1, 'lng': 55.6},
  {'country': 'Martinique', 'lat': 14.6667, 'lng': -61.0},
  {'country': 'Moldova, Republic of', 'lat': 47.0, 'lng': 29.0},
  {'country': 'Uzbekistan', 'lat': 41.0, 'lng': 64.0},
  {'country': 'Maldives', 'lat': 3.25, 'lng': 73.0},
  {'country': 'Albania', 'lat': 41.0, 'lng': 20.0},
  {'country': 'Syrian Arab Republic', 'lat': 35.0, 'lng': 38.0},
  {'country': 'Chad', 'lat': 15.0, 'lng': 19.0},
  {'country': 'Afghanistan', 'lat': 33.0, 'lng': 65.0},
  {'country': 'Colombia', 'lat': 4.0, 'lng': -72.0},
  {'country': 'Saint Kitts and Nevis', 'lat': 17.3333, 'lng': -62.75},
  {'country': 'Mongolia', 'lat': 46.0, 'lng': 105.0},
  {'country': 'United States Minor Outlying Islands',
   'lat': 19.2833,
   'lng': 166.6},
  {'country': 'Kyrgyzstan', 'lat': 41.0, 'lng': 75.0},
  {'country': 'Germany', 'lat': 51.0, 'lng': 9.0},
  {'country': 'Samoa', 'lat': -13.5833, 'lng': -172.3333},
  {'country': 'Taiwan', 'lat': 23.5, 'lng': 121.0},
  {'country': 'Malawi', 'lat': -13.5, 'lng': 34.0},
  {'country': 'Turkmenistan', 'lat': 40.0, 'lng': 60.0},
  {'country': 'Iceland', 'lat': 65.0, 'lng': -18.0},
  {'country': 'Bahrain', 'lat': 26.0, 'lng': 50.55},
  {'country': "Korea, Democratic People's Republic of",
   'lat': 40.0,
   'lng': 127.0},
  {'country': "Lao People's Democratic Republic", 'lat': 18.0, 'lng': 105.0},
  {'country': 'Guyana', 'lat': 5.0, 'lng': -59.0},
  {'country': 'Austria', 'lat': 47.3333, 'lng': 13.3333},
  {'country': 'Dominica', 'lat': 15.4167, 'lng': -61.3333},
  {'country': 'Indonesia', 'lat': -5.0, 'lng': 120.0},
  {'country': 'Finland', 'lat': 64.0, 'lng': 26.0},
  {'country': 'Netherlands Antilles', 'lat': 12.25, 'lng': -68.75},
  {'country': 'Estonia', 'lat': 59.0, 'lng': 26.0},
  {'country': 'Bosnia and Herzegovina', 'lat': 44.0, 'lng': 18.0},
  {'country': 'Haiti', 'lat': 19.0, 'lng': -72.4167},
  {'country': 'Swaziland', 'lat': -26.5, 'lng': 31.5},
  {'country': 'Cayman Islands', 'lat': 19.5, 'lng': -80.5},
  {'country': 'Israel', 'lat': 31.5, 'lng': 34.75},
  {'country': 'Gibraltar', 'lat': 36.1833, 'lng': -5.3667},
  {'country': 'Timor-Leste', 'lat': -8.55, 'lng': 125.5167},
  {'country': 'Japan', 'lat': 36.0, 'lng': 138.0},
  {'country': 'Niger', 'lat': 16.0, 'lng': 8.0},
  {'country': 'Costa Rica', 'lat': 10.0, 'lng': -84.0},
  {'country': 'Serbia', 'lat': 44.0, 'lng': 21.0},
  {'country': 'Belarus', 'lat': 53.0, 'lng': 28.0},
  {'country': 'Uruguay', 'lat': -33.0, 'lng': -56.0},
  {'country': 'Svalbard and Jan Mayen', 'lat': 78.0, 'lng': 20.0},
  {'country': 'Ireland', 'lat': 53.0, 'lng': -8.0},
  {'country': 'New Caledonia', 'lat': -21.5, 'lng': 165.5},
  {'country': 'Denmark', 'lat': 56.0, 'lng': 10.0},
  {'country': 'Jersey', 'lat': 49.21, 'lng': -2.13},
  {'country': 'Honduras', 'lat': 15.0, 'lng': -86.5},
  {'country': 'Mauritius', 'lat': -20.2833, 'lng': 57.55},
  {'country': 'Monaco', 'lat': 43.7333, 'lng': 7.4},
  {'country': 'Sudan', 'lat': 15.0, 'lng': 30.0},
  {'country': 'Belgium', 'lat': 50.8333, 'lng': 4.0},
  {'country': 'Solomon Islands', 'lat': -8.0, 'lng': 159.0},
  {'country': 'Macao', 'lat': 22.1667, 'lng': 113.55},
  {'country': 'Russia', 'lat': 60.0, 'lng': 100.0},
  {'country': 'Antarctica', 'lat': -90.0, 'lng': 0.0},
  {'country': 'Bahamas', 'lat': 24.25, 'lng': -76.0},
  {'country': 'Western Sahara', 'lat': 24.5, 'lng': -13.0},
  {'country': 'Palau', 'lat': 7.5, 'lng': 134.5},
  {'country': 'Guinea-Bissau', 'lat': 12.0, 'lng': -15.0},
  {'country': 'United Arab Emirates', 'lat': 24.0, 'lng': 54.0},
  {'country': 'Guadeloupe', 'lat': 16.25, 'lng': -61.5833},
  {'country': 'Cape Verde', 'lat': 16.0, 'lng': -24.0},
  {'country': 'Congo, the Democratic Republic of the',
   'lat': 0.0,
   'lng': 25.0},
  {'country': 'Guam', 'lat': 13.4667, 'lng': 144.7833},
  {'country': 'South Georgia and the South Sandwich Islands',
   'lat': -54.5,
   'lng': -37.0},
  {'country': 'Oman', 'lat': 21.0, 'lng': 57.0},
  {'country': 'Sao Tome and Principe', 'lat': 1.0, 'lng': 7.0},
  {'country': 'Guatemala', 'lat': 15.5, 'lng': -90.25},
  {'country': 'Benin', 'lat': 9.5, 'lng': 2.25},
  {'country': 'Norway', 'lat': 62.0, 'lng': 10.0},
  {'country': 'Rwanda', 'lat': -2.0, 'lng': 30.0},
  {'country': 'Romania', 'lat': 46.0, 'lng': 25.0},
  {'country': 'Aruba', 'lat': 12.5, 'lng': -69.9667},
  {'country': 'Yemen', 'lat': 15.0, 'lng': 48.0},
  {'country': 'Canada', 'lat': 60.0, 'lng': -95.0},
  {'country': 'Tokelau', 'lat': -9.0, 'lng': -172.0},
  {'country': 'Kenya', 'lat': 1.0, 'lng': 38.0},
  {'country': 'Cameroon', 'lat': 6.0, 'lng': 12.0},
  {'country': 'Tunisia', 'lat': 34.0, 'lng': 9.0},
  {'country': 'Sierra Leone', 'lat': 8.5, 'lng': -11.5},
  {'country': 'Lithuania', 'lat': 56.0, 'lng': 24.0},
  {'country': 'Mayotte', 'lat': -12.8333, 'lng': 45.1667},
  {'country': 'Nepal', 'lat': 28.0, 'lng': 84.0},
  {'country': 'French Guiana', 'lat': 4.0, 'lng': -53.0},
  {'country': 'Georgia', 'lat': 42.0, 'lng': 43.5},
  {'country': 'Virgin Islands, U.S.', 'lat': 18.3333, 'lng': -64.8333},
  {'country': 'United Kingdom', 'lat': 54.0, 'lng': -2.0},
  {'country': 'Nigeria', 'lat': 10.0, 'lng': 8.0},
  {'country': 'Nicaragua', 'lat': 13.0, 'lng': -85.0},
  {'country': 'Cocos (Keeling) Islands', 'lat': -12.5, 'lng': 96.8333},
  {'country': 'Micronesia, Federated States of', 'lat': 6.9167, 'lng': 158.25},
  {'country': 'Liechtenstein', 'lat': 47.1667, 'lng': 9.5333},
  {'country': 'Algeria', 'lat': 28.0, 'lng': 3.0},
  {'country': 'Greece', 'lat': 39.0, 'lng': 22.0},
  {'country': 'Bulgaria', 'lat': 43.0, 'lng': 25.0},
  {'country': 'Spain', 'lat': 40.0, 'lng': -4.0},
  {'country': 'Croatia', 'lat': 45.1667, 'lng': 15.5},
  {'country': 'Ivory Coast', 'lat': 8.0, 'lng': -5.0},
  {'country': 'Malaysia', 'lat': 2.5, 'lng': 112.5},
  {'country': 'Lebanon', 'lat': 33.8333, 'lng': 35.8333},
  {'country': 'Kazakhstan', 'lat': 48.0, 'lng': 68.0},
  {'country': 'Czech Republic', 'lat': 49.75, 'lng': 15.5},
  {'country': 'Burkina Faso', 'lat': 13.0, 'lng': -2.0},
  {'country': 'Heard Island and McDonald Islands',
   'lat': -53.1,
   'lng': 72.5167},
  {'country': 'Paraguay', 'lat': -23.0, 'lng': -58.0},
  {'country': 'Senegal', 'lat': 14.0, 'lng': -14.0},
  {'country': 'Singapore', 'lat': 1.3667, 'lng': 103.8},
  {'country': 'Libya', 'lat': 25.0, 'lng': 17.0},
  {'country': 'Togo', 'lat': 8.0, 'lng': 1.1667},
  {'country': 'Mexico', 'lat': 23.0, 'lng': -102.0},
  {'country': 'Niue', 'lat': -19.0333, 'lng': -169.8667},
  {'country': 'Isle of Man', 'lat': 54.23, 'lng': -4.55},
  {'country': 'Kuwait', 'lat': 29.3375, 'lng': 47.6581},
  {'country': 'Ethiopia', 'lat': 8.0, 'lng': 38.0},
  {'country': 'Macedonia, the former Yugoslav Republic of',
   'lat': 41.8333,
   'lng': 22.0},
  {'country': 'Angola', 'lat': -12.5, 'lng': 18.5},
  {'country': 'Thailand', 'lat': 15.0, 'lng': 100.0},
  {'country': 'Saudi Arabia', 'lat': 25.0, 'lng': 45.0},
  {'country': 'Iraq', 'lat': 33.0, 'lng': 44.0},
  {'country': 'Ecuador', 'lat': -2.0, 'lng': -77.5},
  {'country': 'South Africa', 'lat': -29.0, 'lng': 24.0},
  {'country': 'Slovakia', 'lat': 48.6667, 'lng': 19.5},
  {'country': 'Gabon', 'lat': -1.0, 'lng': 11.75},
  {'country': 'Vietnam', 'lat': 16.0, 'lng': 106.0},
  {'country': 'Papua New Guinea', 'lat': -6.0, 'lng': 147.0},
  {'country': 'Cyprus', 'lat': 35.0, 'lng': 33.0},
  {'country': 'Brazil', 'lat': -10.0, 'lng': -55.0},
  {'country': 'Gambia', 'lat': 13.4667, 'lng': -16.5667},
  {'country': 'Falkland Islands (Malvinas)', 'lat': -51.75, 'lng': -59.0},
  {'country': 'Zambia', 'lat': -15.0, 'lng': 30.0},
  {'country': 'Wallis and Futuna', 'lat': -13.3, 'lng': -176.2},
  {'country': 'Puerto Rico', 'lat': 18.25, 'lng': -66.5},
  {'country': 'Virgin Islands, British', 'lat': 18.5, 'lng': -64.5},
  {'country': 'Bangladesh', 'lat': 24.0, 'lng': 90.0},
  {'country': 'Grenada', 'lat': 12.1167, 'lng': -61.6667},
  {'country': 'Uganda', 'lat': 1.0, 'lng': 32.0},
  {'country': 'Mali', 'lat': 17.0, 'lng': -4.0},
  {'country': 'Lesotho', 'lat': -29.5, 'lng': 28.5},
  {'country': 'Namibia', 'lat': -22.0, 'lng': 17.0},
  {'country': 'Saint Helena, Ascension and Tristan da Cunha',
   'lat': -15.9333,
   'lng': -5.7},
  {'country': 'China', 'lat': 35.0, 'lng': 105.0},
  {'country': 'Barbados', 'lat': 13.1667, 'lng': -59.5333},
  {'country': 'St. Vincent and the Grenadines', 'lat': 13.25, 'lng': -61.2},
  {'country': 'Hungary', 'lat': 47.0, 'lng': 20.0},
  {'country': 'Mauritania', 'lat': 20.0, 'lng': -12.0},
  {'country': 'Guinea', 'lat': 11.0, 'lng': -10.0},
  {'country': 'Nauru', 'lat': -0.5333, 'lng': 166.9167},
  {'country': 'Pakistan', 'lat': 30.0, 'lng': 70.0},
  {'country': 'Slovenia', 'lat': 46.0, 'lng': 15.0},
  {'country': 'Argentina', 'lat': -34.0, 'lng': -64.0},
  {'country': 'Portugal', 'lat': 39.5, 'lng': -8.0},
  {'country': 'Chile', 'lat': -30.0, 'lng': -71.0},
  {'country': 'Myanmar', 'lat': 22.0, 'lng': 98.0},
  {'country': 'Comoros', 'lat': -12.1667, 'lng': 44.25},
  {'country': 'Seychelles', 'lat': -4.5833, 'lng': 55.6667},
  {'country': 'Saint Lucia', 'lat': 13.8833, 'lng': -61.1333},
  {'country': 'Faroe Islands', 'lat': 62.0, 'lng': -7.0},
  {'country': 'Montenegro', 'lat': 42.0, 'lng': 19.0},
  {'country': 'Greenland', 'lat': 72.0, 'lng': -40.0},
  {'country': 'Tajikistan', 'lat': 39.0, 'lng': 71.0},
  {'country': 'Congo', 'lat': -1.0, 'lng': 15.0},
  {'country': 'Bhutan', 'lat': 27.5, 'lng': 90.5},
  {'country': 'Iran, Islamic Republic of', 'lat': 32.0, 'lng': 53.0},
  {'country': 'Philippines', 'lat': 13.0, 'lng': 122.0},
  {'country': 'Norfolk Island', 'lat': -29.0333, 'lng': 167.95},
  {'country': 'Central African Republic', 'lat': 7.0, 'lng': 21.0},
  {'country': 'Tuvalu', 'lat': -8.0, 'lng': 178.0},
  {'country': 'Fiji', 'lat': -18.0, 'lng': 175.0},
  {'country': 'Bermuda', 'lat': 32.3333, 'lng': -64.75},
  {'country': 'Palestinian Territory, Occupied', 'lat': 32.0, 'lng': 35.25},
  {'country': 'Venezuela', 'lat': 8.0, 'lng': -66.0},
  {'country': 'Somalia', 'lat': 10.0, 'lng': 49.0},
  {'country': 'France', 'lat': 46.0, 'lng': 2.0}]}

Top countries with the highest concentartion of PM25, PM10, and NO2 in the air quality

In [ ]:
Ambient_Air_Quality_Data = pd.read_sql('select * from Ambient_Air_Quality_Data', connection)
Ambient_Air_Quality_Data

In [ ]:
unique_regin=Ambient_Air_Quality_Data["region"].unique()
unique_regin

In [26]:
# Define the date range for the past 10 years
current_year = 2019
past_years = 10
start_year = current_year - past_years

# Create the SQLAlchemy query
result = (session.query(Ambient_air_quality_data.country, Ambient_air_quality_data.year,
            func.sum(Ambient_air_quality_data.pm25).label('pm25_sum'),
            func.sum(Ambient_air_quality_data.pm10).label('pm10_sum'),
            func.sum(Ambient_air_quality_data.no2).label('no2_sum'))
          .filter(Ambient_air_quality_data.year ==2016)
          .group_by(Ambient_air_quality_data.country, Ambient_air_quality_data.year)
          .order_by(func.sum(Ambient_air_quality_data.pm25).desc()))

# # Convert the result to a pandas DataFrame

# # Print the result

In [27]:
result.all()[0][0]

'China'

In [28]:
top_100_countries.head()

     country  year  pm25_sum  pm10_sum  no2_sum
0   Portugal  2015    137.89    789.71   588.71
1  Lithuania  2015     74.88    368.84   204.76
2    Georgia  2015     24.50     47.50     0.00
3      Italy  2015   3381.85   8904.21  8643.32
4   Mongolia  2015     75.00    141.00    37.00

In [29]:
result_list = []
for row in result:
    country = row.country
    year = row.year
    pm25_sum = row.pm25_sum
    pm10_sum = row.pm10_sum
    no2_sum = row.no2_sum
    
    result_list.append({
        'country': country,
        'year': year,
        'pm25_sum': pm25_sum,
        'pm10_sum': pm10_sum,
        'no2_sum': no2_sum
    })

In [30]:
result_dict = {}
for row in result:
    country = row.country
    year = row.year
    pm25_sum = row.pm25_sum
    pm10_sum = row.pm10_sum
    no2_sum = row.no2_sum
    
    if country not in result_dict:
        result_dict[country] = {}
    
    result_dict[country][year] = {
        'pm25_sum': pm25_sum,
        'pm10_sum': pm10_sum,
        'no2_sum': no2_sum
    }

In [31]:
result_dict

{'China': {2016: {'pm25_sum': 25091.690000000017,
   'pm10_sum': 1024.27,
   'no2_sum': 4273.01}},
 'Italy': {2016: {'pm25_sum': 3061.810000000002,
   'pm10_sum': 7989.459999999998,
   'no2_sum': 8564.269999999993}},
 'India': {2016: {'pm25_sum': 2875.1899999999996,
   'pm10_sum': 24413.759999999995,
   'no2_sum': 5491.049999999999}},
 'Iran (Islamic Republic of)': {2016: {'pm25_sum': 1817.2800000000002,
   'pm10_sum': 71.51,
   'no2_sum': 184.15}},
 'Germany': {2016: {'pm25_sum': 1659.0000000000007,
   'pm10_sum': 4438.290000000003,
   'no2_sum': 7893.100000000001}},
 'Poland': {2016: {'pm25_sum': 1590.2600000000004,
   'pm10_sum': 5090.700000000001,
   'no2_sum': 1784.0099999999998}},
 'France': {2016: {'pm25_sum': 1330.9599999999998,
   'pm10_sum': 4845.130000000002,
   'no2_sum': 5802.269999999996}},
 'Chile': {2016: {'pm25_sum': 958.7000000000003,
   'pm10_sum': 1721.8000000000006,
   'no2_sum': 50.61}},
 'Czechia': {2016: {'pm25_sum': 941.6800000000002,
   'pm10_sum': 1984.1899999999994,
   'no2_sum': 735.0099999999998}},
 'Canada': {2016: {'pm25_sum': 925.4599999999999,
   'pm10_sum': 301.83,
   'no2_sum': 1428.4099999999999}},
 'Spain': {2016: {'pm25_sum': 735.5400000000001,
   'pm10_sum': 4026.700000000002,
   'no2_sum': 4510.269999999997}},
 'Belgium': {2016: {'pm25_sum': 597.4799999999999,
   'pm10_sum': 950.0899999999999,
   'no2_sum': 1277.6899999999998}},
 'United Kingdom': {2016: {'pm25_sum': 519.3400000000001,
   'pm10_sum': 690.5500000000001,
   'no2_sum': 2228.709999999999}},
 'United States of America': {2016: {'pm25_sum': 481.7999999999999,
   'pm10_sum': 1894.14,
   'no2_sum': 1159.8400000000001}},
 'Republic of Korea': {2016: {'pm25_sum': 426.0,
   'pm10_sum': 764.0,
   'no2_sum': 642.9599999999999}},
 'Austria': {2016: {'pm25_sum': 425.03000000000003,
   'pm10_sum': 1668.9799999999996,
   'no2_sum': 2076.7499999999995}},
 'Bangladesh': {2016: {'pm25_sum': 404.78999999999996,
   'pm10_sum': 622.3600000000001,
   'no2_sum': 0.0}},
 'Turkey': {2016: {'pm25_sum': 368.17,
   'pm10_sum': 4506.36,
   'no2_sum': 1553.6399999999999}},
 'Netherlands': {2016: {'pm25_sum': 336.09,
   'pm10_sum': 919.63,
   'no2_sum': 1119.8999999999999}},
 'Philippines': {2016: {'pm25_sum': 322.0, 'pm10_sum': 263.0, 'no2_sum': 0.0}},
 'Mexico': {2016: {'pm25_sum': 311.46000000000004,
   'pm10_sum': 1055.14,
   'no2_sum': 283.11}},
 'Kuwait': {2016: {'pm25_sum': 210.55,
   'pm10_sum': 1513.58,
   'no2_sum': 389.72}},
 'South Africa': {2016: {'pm25_sum': 182.82999999999998,
   'pm10_sum': 486.53999999999996,
   'no2_sum': 266.95}},
 'Peru': {2016: {'pm25_sum': 165.0,
   'pm10_sum': 1031.8100000000002,
   'no2_sum': 207.85000000000002}},
 'Switzerland': {2016: {'pm25_sum': 163.58,
   'pm10_sum': 1379.180000000001,
   'no2_sum': 2242.9900000000002}},
 'Croatia': {2016: {'pm25_sum': 155.47,
   'pm10_sum': 254.02,
   'no2_sum': 167.56}},
 'Australia': {2016: {'pm25_sum': 143.75000000000003,
   'pm10_sum': 501.51,
   'no2_sum': 132.88}},
 'Viet Nam': {2016: {'pm25_sum': 140.76, 'pm10_sum': 0.0, 'no2_sum': 0.0}},
 'Norway': {2016: {'pm25_sum': 130.59, 'pm10_sum': 364.1, 'no2_sum': 464.38}},
 'Bosnia and Herzegovina': {2016: {'pm25_sum': 129.61,
   'pm10_sum': 257.15999999999997,
   'no2_sum': 128.7}},
 'Indonesia': {2016: {'pm25_sum': 127.95000000000002,
   'pm10_sum': 0.0,
   'no2_sum': 0.0}},
 'New Zealand': {2016: {'pm25_sum': 125.21,
   'pm10_sum': 526.3000000000001,
   'no2_sum': 28.41}},
 'Greece': {2016: {'pm25_sum': 119.36,
   'pm10_sum': 450.8,
   'no2_sum': 426.13999999999993}},
 'Slovakia': {2016: {'pm25_sum': 119.3,
   'pm10_sum': 269.6000000000001,
   'no2_sum': 324.97999999999996}},
 'Qatar': {2016: {'pm25_sum': 114.0, 'pm10_sum': 419.0, 'no2_sum': 0.0}},
 'Sweden': {2016: {'pm25_sum': 111.41000000000001,
   'pm10_sum': 587.0800000000002,
   'no2_sum': 664.3300000000002}},
 'Bulgaria': {2016: {'pm25_sum': 96.14,
   'pm10_sum': 883.0500000000001,
   'no2_sum': 322.71999999999997}},
 'Brazil': {2016: {'pm25_sum': 93.6, 'pm10_sum': 1030.25, 'no2_sum': 551.45}},
 'Portugal': {2016: {'pm25_sum': 93.57,
   'pm10_sum': 683.4100000000002,
   'no2_sum': 515.05}},
 'Saudi Arabia': {2016: {'pm25_sum': 86.0, 'pm10_sum': 119.0, 'no2_sum': 0.0}},
 'Finland': {2016: {'pm25_sum': 80.18, 'pm10_sum': 310.28, 'no2_sum': 261.06}},
 'Mongolia': {2016: {'pm25_sum': 79.02, 'pm10_sum': 128.0, 'no2_sum': 0.0}},
 'Cyprus': {2016: {'pm25_sum': 69.03999999999999,
   'pm10_sum': 117.1,
   'no2_sum': 48.67}},
 'Latvia': {2016: {'pm25_sum': 68.99, 'pm10_sum': 96.17, 'no2_sum': 65.37}},
 'Lithuania': {2016: {'pm25_sum': 66.25,
   'pm10_sum': 339.51,
   'no2_sum': 214.71}},
 'Romania': {2016: {'pm25_sum': 64.92999999999999,
   'pm10_sum': 690.2800000000001,
   'no2_sum': 614.3499999999998}},
 'Bahrain': {2016: {'pm25_sum': 60.75, 'pm10_sum': 0.0, 'no2_sum': 0.0}},
 'Ghana': {2016: {'pm25_sum': 55.0, 'pm10_sum': 0.0, 'no2_sum': 0.0}},
 'Ireland': {2016: {'pm25_sum': 53.2, 'pm10_sum': 151.25, 'no2_sum': 131.2}},
 'Slovenia': {2016: {'pm25_sum': 52.150000000000006,
   'pm10_sum': 331.90999999999997,
   'no2_sum': 174.19}},
 'Malta': {2016: {'pm25_sum': 47.49,
   'pm10_sum': 132.68,
   'no2_sum': 71.21000000000001}},
 'Albania': {2016: {'pm25_sum': 42.96,
   'pm10_sum': 87.47999999999999,
   'no2_sum': 63.56}},
 'Nepal': {2016: {'pm25_sum': 42.0, 'pm10_sum': 64.17, 'no2_sum': 0.0}},
 'Denmark': {2016: {'pm25_sum': 41.160000000000004,
   'pm10_sum': 56.190000000000005,
   'no2_sum': 115.05}},
 'North Macedonia': {2016: {'pm25_sum': 40.18,
   'pm10_sum': 473.41,
   'no2_sum': 44.78}},
 'Estonia': {2016: {'pm25_sum': 36.43,
   'pm10_sum': 57.050000000000004,
   'no2_sum': 45.05}},
 'Colombia': {2016: {'pm25_sum': 33.31, 'pm10_sum': 41.36, 'no2_sum': 13.1}},
 'Luxembourg': {2016: {'pm25_sum': 33.31,
   'pm10_sum': 76.68,
   'no2_sum': 94.80000000000001}},
 'Senegal': {2016: {'pm25_sum': 29.42, 'pm10_sum': 132.86, 'no2_sum': 20.33}},
 'Ethiopia': {2016: {'pm25_sum': 28.3, 'pm10_sum': 0.0, 'no2_sum': 0.0}},
 'Ecuador': {2016: {'pm25_sum': 28.14,
   'pm10_sum': 81.5,
   'no2_sum': 41.480000000000004}},
 'El Salvador': {2016: {'pm25_sum': 27.1, 'pm10_sum': 0.0, 'no2_sum': 0.0}},
 'Iceland': {2016: {'pm25_sum': 26.78, 'pm10_sum': 35.63, 'no2_sum': 32.86}},
 'Serbia': {2016: {'pm25_sum': 22.67, 'pm10_sum': 90.41, 'no2_sum': 101.21}},
 'Lebanon': {2016: {'pm25_sum': 19.0, 'pm10_sum': 55.0, 'no2_sum': 0.0}},
 'Singapore': {2016: {'pm25_sum': 15.0, 'pm10_sum': 0.0, 'no2_sum': 26.0}},
 'Russian Federation': {2016: {'pm25_sum': 14.0,
   'pm10_sum': 28.0,
   'no2_sum': 0.0}},
 'Trinidad and Tobago': {2016: {'pm25_sum': 11.9,
   'pm10_sum': 25.2,
   'no2_sum': 13.3}},
 'Hungary': {2016: {'pm25_sum': 10.13,
   'pm10_sum': 456.57000000000005,
   'no2_sum': 319.90999999999997}},
 'Argentina': {2016: {'pm25_sum': 0.0, 'pm10_sum': 26.88, 'no2_sum': 15.35}},
 'Andorra': {2016: {'pm25_sum': 0.0, 'pm10_sum': 26.26, 'no2_sum': 26.98}},
 'Honduras': {2016: {'pm25_sum': 0.0, 'pm10_sum': 40.0, 'no2_sum': 0.0}},
 'Montenegro': {2016: {'pm25_sum': 0.0,
   'pm10_sum': 157.21,
   'no2_sum': 42.120000000000005}},
 'Morocco': {2016: {'pm25_sum': 0.0, 'pm10_sum': 264.0, 'no2_sum': 0.0}},
 'Thailand': {2016: {'pm25_sum': 0.0,
   'pm10_sum': 1103.5100000000002,
   'no2_sum': 226.74}},
 'Iraq': {2016: {'pm25_sum': 0.0, 'pm10_sum': 179.38, 'no2_sum': 0.0}},
 'Mauritius': {2016: {'pm25_sum': 0.0, 'pm10_sum': 28.36, 'no2_sum': 0.0}},
 'Monaco': {2016: {'pm25_sum': 0.0, 'pm10_sum': 16.89, 'no2_sum': 33.6}},
 'Myanmar': {2016: {'pm25_sum': 0.0,
   'pm10_sum': 91.28999999999999,
   'no2_sum': 15.06}},
 'Jordan': {2016: {'pm25_sum': 0.0,
   'pm10_sum': 232.36999999999998,
   'no2_sum': 0.0}}}

In [25]:
result_list

[{'country': 'China',
  'year': 2015,
  'pm25_sum': 26969.68999999999,
  'pm10_sum': 925.0,
  'no2_sum': 3672.0},
 {'country': 'Italy',
  'year': 2015,
  'pm25_sum': 3381.850000000001,
  'pm10_sum': 8904.210000000001,
  'no2_sum': 8643.319999999998},
 {'country': 'Germany',
  'year': 2015,
  'pm25_sum': 1724.8199999999997,
  'pm10_sum': 4799.550000000003,
  'no2_sum': 7981.280000000001},
 {'country': 'Poland',
  'year': 2015,
  'pm25_sum': 1630.6599999999999,
  'pm10_sum': 5350.6399999999985,
  'no2_sum': 1782.3600000000001},
 {'country': 'France',
  'year': 2015,
  'pm25_sum': 1580.45,
  'pm10_sum': 5691.839999999997,
  'no2_sum': 6290.4299999999985},
 {'country': 'Canada',
  'year': 2015,
  'pm25_sum': 1033.3700000000001,
  'pm10_sum': 329.43999999999994,
  'no2_sum': 1248.5},
 {'country': 'Chile',
  'year': 2015,
  'pm25_sum': 973.1699999999998,
  'pm10_sum': 2012.19,
  'no2_sum': 21.009999999999998},
 {'country': 'Spain',
  'year': 2015,
  'pm25_sum': 826.22,
  'pm10_sum': 4347.249999999999,
  'no2_sum': 4831.05},
 {'country': 'Belgium',
  'year': 2015,
  'pm25_sum': 606.1300000000002,
  'pm10_sum': 985.1700000000003,
  'no2_sum': 1282.0900000000001},
 {'country': 'Bangladesh',
  'year': 2015,
  'pm25_sum': 594.07,
  'pm10_sum': 903.05,
  'no2_sum': 280.96000000000004},
 {'country': 'United States of America',
  'year': 2015,
  'pm25_sum': 581.1499999999999,
  'pm10_sum': 1990.5300000000007,
  'no2_sum': 1327.9799999999996},
 {'country': 'United Kingdom',
  'year': 2015,
  'pm25_sum': 564.4599999999999,
  'pm10_sum': 725.5600000000002,
  'no2_sum': 2079.6900000000005},
 {'country': 'Czechia',
  'year': 2015,
  'pm25_sum': 484.56,
  'pm10_sum': 1631.5699999999997,
  'no2_sum': 701.7399999999999},
 {'country': 'Israel',
  'year': 2015,
  'pm25_sum': 453.47,
  'pm10_sum': 1253.1900000000003,
  'no2_sum': 0.0},
 {'country': 'Republic of Korea',
  'year': 2015,
  'pm25_sum': 453.0,
  'pm10_sum': 793.0,
  'no2_sum': 669.28},
 {'country': 'Philippines',
  'year': 2015,
  'pm25_sum': 419.0,
  'pm10_sum': 334.42,
  'no2_sum': 0.0},
 {'country': 'Mexico',
  'year': 2015,
  'pm25_sum': 394.2099999999999,
  'pm10_sum': 1050.5,
  'no2_sum': 309.88},
 {'country': 'Austria',
  'year': 2015,
  'pm25_sum': 328.97,
  'pm10_sum': 1723.9800000000005,
  'no2_sum': 2158.74},
 {'country': 'Netherlands',
  'year': 2015,
  'pm25_sum': 313.59,
  'pm10_sum': 1035.2999999999997,
  'no2_sum': 1128.0700000000002},
 {'country': 'Kuwait',
  'year': 2015,
  'pm25_sum': 191.8,
  'pm10_sum': 1520.55,
  'no2_sum': 616.2900000000001},
 {'country': 'Brazil',
  'year': 2015,
  'pm25_sum': 172.35,
  'pm10_sum': 1779.1499999999999,
  'no2_sum': 754.94},
 {'country': 'Switzerland',
  'year': 2015,
  'pm25_sum': 171.71000000000006,
  'pm10_sum': 1623.2199999999996,
  'no2_sum': 2491.860000000001},
 {'country': 'Peru',
  'year': 2015,
  'pm25_sum': 164.54999999999998,
  'pm10_sum': 974.82,
  'no2_sum': 165.03},
 {'country': 'South Africa',
  'year': 2015,
  'pm25_sum': 154.9,
  'pm10_sum': 317.97999999999996,
  'no2_sum': 211.5},
 {'country': 'Slovakia',
  'year': 2015,
  'pm25_sum': 149.26,
  'pm10_sum': 192.48,
  'no2_sum': 79.78},
 {'country': 'Australia',
  'year': 2015,
  'pm25_sum': 143.08999999999997,
  'pm10_sum': 573.1700000000001,
  'no2_sum': 106.67999999999999},
 {'country': 'Portugal',
  'year': 2015,
  'pm25_sum': 137.89000000000001,
  'pm10_sum': 789.71,
  'no2_sum': 588.71},
 {'country': 'Croatia',
  'year': 2015,
  'pm25_sum': 124.85,
  'pm10_sum': 273.41,
  'no2_sum': 138.56},
 {'country': 'Bulgaria',
  'year': 2015,
  'pm25_sum': 119.83,
  'pm10_sum': 1023.12,
  'no2_sum': 292.42},
 {'country': 'Colombia',
  'year': 2015,
  'pm25_sum': 109.35000000000001,
  'pm10_sum': 464.05,
  'no2_sum': 105.10000000000001},
 {'country': 'Norway',
  'year': 2015,
  'pm25_sum': 104.35,
  'pm10_sum': 310.70000000000005,
  'no2_sum': 430.81},
 {'country': 'Romania',
  'year': 2015,
  'pm25_sum': 100.61,
  'pm10_sum': 905.5899999999998,
  'no2_sum': 423.77000000000004},
 {'country': 'Sweden',
  'year': 2015,
  'pm25_sum': 95.78,
  'pm10_sum': 437.96,
  'no2_sum': 490.96},
 {'country': 'New Zealand',
  'year': 2015,
  'pm25_sum': 85.81,
  'pm10_sum': 552.8999999999999,
  'no2_sum': 29.259999999999998},
 {'country': 'Viet Nam',
  'year': 2015,
  'pm25_sum': 81.76,
  'pm10_sum': 144.9,
  'no2_sum': 0.0},
 {'country': 'Finland',
  'year': 2015,
  'pm25_sum': 79.78999999999999,
  'pm10_sum': 349.43999999999994,
  'no2_sum': 280.37},
 {'country': 'Cyprus',
  'year': 2015,
  'pm25_sum': 79.77000000000001,
  'pm10_sum': 103.21000000000001,
  'no2_sum': 33.92},
 {'country': 'Mongolia',
  'year': 2015,
  'pm25_sum': 75.0,
  'pm10_sum': 141.0,
  'no2_sum': 37.0},
 {'country': 'Lithuania',
  'year': 2015,
  'pm25_sum': 74.88,
  'pm10_sum': 368.84,
  'no2_sum': 204.76},
 {'country': 'Saudi Arabia',
  'year': 2015,
  'pm25_sum': 69.0,
  'pm10_sum': 85.0,
  'no2_sum': 0.0},
 {'country': 'Latvia',
  'year': 2015,
  'pm25_sum': 64.78,
  'pm10_sum': 106.11000000000001,
  'no2_sum': 78.56},
 {'country': 'Indonesia',
  'year': 2015,
  'pm25_sum': 62.97,
  'pm10_sum': 0.0,
  'no2_sum': 0.0},
 {'country': 'Malta',
  'year': 2015,
  'pm25_sum': 53.25,
  'pm10_sum': 89.42,
  'no2_sum': 52.43},
 {'country': 'Slovenia',
  'year': 2015,
  'pm25_sum': 52.93,
  'pm10_sum': 362.96,
  'no2_sum': 186.77000000000004},
 {'country': 'Albania',
  'year': 2015,
  'pm25_sum': 43.58,
  'pm10_sum': 101.86999999999999,
  'no2_sum': 74.34},
 {'country': 'Greece',
  'year': 2015,
  'pm25_sum': 37.69,
  'pm10_sum': 291.31,
  'no2_sum': 413.79},
 {'country': 'Ireland',
  'year': 2015,
  'pm25_sum': 35.13,
  'pm10_sum': 93.05,
  'no2_sum': 39.95},
 {'country': 'Cuba',
  'year': 2015,
  'pm25_sum': 34.8,
  'pm10_sum': 0.0,
  'no2_sum': 0.0},
 {'country': 'Luxembourg',
  'year': 2015,
  'pm25_sum': 34.75,
  'pm10_sum': 77.85,
  'no2_sum': 65.87},
 {'country': 'Denmark',
  'year': 2015,
  'pm25_sum': 33.769999999999996,
  'pm10_sum': 82.62,
  'no2_sum': 100.33},
 {'country': 'Senegal',
  'year': 2015,
  'pm25_sum': 33.0,
  'pm10_sum': 145.0,
  'no2_sum': 19.6},
 {'country': 'Estonia',
  'year': 2015,
  'pm25_sum': 31.81,
  'pm10_sum': 49.34,
  'no2_sum': 43.52},
 {'country': 'Iran (Islamic Republic of)',
  'year': 2015,
  'pm25_sum': 29.83,
  'pm10_sum': 77.68,
  'no2_sum': 93.16},
 {'country': 'Thailand',
  'year': 2015,
  'pm25_sum': 27.87,
  'pm10_sum': 79.69,
  'no2_sum': 19.47},
 {'country': 'El Salvador',
  'year': 2015,
  'pm25_sum': 27.8,
  'pm10_sum': 0.0,
  'no2_sum': 0.0},
 {'country': 'Iceland',
  'year': 2015,
  'pm25_sum': 25.72,
  'pm10_sum': 38.09,
  'no2_sum': 45.81},
 {'country': 'Georgia',
  'year': 2015,
  'pm25_sum': 24.5,
  'pm10_sum': 47.5,
  'no2_sum': 0.0},
 {'country': 'Singapore',
  'year': 2015,
  'pm25_sum': 24.0,
  'pm10_sum': 0.0,
  'no2_sum': 22.0},
 {'country': 'Costa Rica',
  'year': 2015,
  'pm25_sum': 24.0,
  'pm10_sum': 0.0,
  'no2_sum': 0.0},
 {'country': 'Jordan',
  'year': 2015,
  'pm25_sum': 19.0,
  'pm10_sum': 304.11,
  'no2_sum': 0.0},
 {'country': 'Ecuador',
  'year': 2015,
  'pm25_sum': 17.27,
  'pm10_sum': 77.45,
  'no2_sum': 44.84},
 {'country': 'Lebanon',
  'year': 2015,
  'pm25_sum': 15.0,
  'pm10_sum': 43.0,
  'no2_sum': 47.0},
 {'country': 'Argentina',
  'year': 2015,
  'pm25_sum': 10.26,
  'pm10_sum': 27.87,
  'no2_sum': 0.0},
 {'country': 'Fiji',
  'year': 2015,
  'pm25_sum': 8.1,
  'pm10_sum': 0.0,
  'no2_sum': 0.0},
 {'country': 'Madagascar',
  'year': 2015,
  'pm25_sum': 8.0,
  'pm10_sum': 13.0,
  'no2_sum': 0.0},
 {'country': 'Egypt',
  'year': 2015,
  'pm25_sum': 0.0,
  'pm10_sum': 533.0,
  'no2_sum': 0.0},
 {'country': 'Iraq',
  'year': 2015,
  'pm25_sum': 0.0,
  'pm10_sum': 208.13,
  'no2_sum': 0.0},
 {'country': 'Jamaica',
  'year': 2015,
  'pm25_sum': 0.0,
  'pm10_sum': 82.93,
  'no2_sum': 0.0},
 {'country': 'Turkey',
  'year': 2015,
  'pm25_sum': 0.0,
  'pm10_sum': 4923.07,
  'no2_sum': 897.9799999999999},
 {'country': 'United Arab Emirates',
  'year': 2015,
  'pm25_sum': 0.0,
  'pm10_sum': 425.44,
  'no2_sum': 78.39},
 {'country': 'Hungary',
  'year': 2015,
  'pm25_sum': 0.0,
  'pm10_sum': 475.58,
  'no2_sum': 335.39},
 {'country': 'Mauritius',
  'year': 2015,
  'pm25_sum': 0.0,
  'pm10_sum': 28.56,
  'no2_sum': 0.0},
 {'country': 'Honduras',
  'year': 2015,
  'pm25_sum': 0.0,
  'pm10_sum': 31.5,
  'no2_sum': 0.0},
 {'country': 'Serbia',
  'year': 2015,
  'pm25_sum': 0.0,
  'pm10_sum': 58.519999999999996,
  'no2_sum': 152.27},
 {'country': 'Ghana',
  'year': 2015,
  'pm25_sum': 0.0,
  'pm10_sum': 176.4,
  'no2_sum': 0.0},
 {'country': 'Bhutan',
  'year': 2015,
  'pm25_sum': 0.0,
  'pm10_sum': 317.0,
  'no2_sum': 0.0},
 {'country': 'Andorra',
  'year': 2015,
  'pm25_sum': 0.0,
  'pm10_sum': 27.04,
  'no2_sum': 26.65},
 {'country': 'Myanmar',
  'year': 2015,
  'pm25_sum': 0.0,
  'pm10_sum': 109.6,
  'no2_sum': 12.2},
 {'country': 'Montenegro',
  'year': 2015,
  'pm25_sum': 0.0,
  'pm10_sum': 230.06,
  'no2_sum': 93.08}]

Top 10 countries in 2019 with the highest concentartion of PM25, PM10, and NO2 in the air quality

In [ ]:
# Define the date range for the year 2019
year = 2019

# Create the SQLAlchemy query
result = (session.query(Ambient_air_quality_data.country,
            func.sum(Ambient_air_quality_data.pm25).label('pm25_sum'),
            func.sum(Ambient_air_quality_data.pm10).label('pm10_sum'),
            func.sum(Ambient_air_quality_data.no2).label('no2_sum'))
          .filter(Ambient_air_quality_data.year == year)
          .group_by(Ambient_air_quality_data.country)
          .order_by((func.sum(Ambient_air_quality_data.pm25) +
                     func.sum(Ambient_air_quality_data.pm10) +
                     func.sum(Ambient_air_quality_data.no2)).desc())
          .limit(10))

# Convert the result to a pandas DataFrame
top_10_countries = pd.read_sql(result.statement, session.bind)

# Print the result
top_10_countries

# Outdoor Pollution Rates by Ages

In [ ]:
Outdoor_Air_Death_Rates_by_Age = pd.read_sql('select * from Outdoor_Air_Death_Rates_by_Age', connection)
Outdoor_Air_Death_Rates_by_Age

Top 10 countries with the highest death rates in 2019

In [ ]:
# Query the Outdoor_air_death_rates_by_age table to get the top 10 countries with highest death rates in 2019 for the specified age groups
age_pollution_results = session.query(
    Outdoor_air_death_rates_by_age.country,
    Outdoor_air_death_rates_by_age.year,
    func.sum(Outdoor_air_death_rates_by_age.under_5).label('under_5'),
    func.sum(Outdoor_air_death_rates_by_age.age_5_to_14_years).label('age_5_to_14_years'),
    func.sum(Outdoor_air_death_rates_by_age.age_70plus_years).label('age_70plus_years'),
    func.sum(Outdoor_air_death_rates_by_age.age_15_to_49_years).label('age_15_to_49_years'),
    func.sum(Outdoor_air_death_rates_by_age.age_50_to_69_years).label('age_50_to_69_years')
).filter(
    Outdoor_air_death_rates_by_age.year >= 2015
).group_by(
    Outdoor_air_death_rates_by_age.country,
     Outdoor_air_death_rates_by_age.year
).order_by(
    func.sum(Outdoor_air_death_rates_by_age.under_5).desc(),
    func.sum(Outdoor_air_death_rates_by_age.age_5_to_14_years).desc(),
    func.sum(Outdoor_air_death_rates_by_age.age_70plus_years).desc(),
    func.sum(Outdoor_air_death_rates_by_age.age_15_to_49_years).desc(),
    func.sum(Outdoor_air_death_rates_by_age.age_50_to_69_years).desc()
).all()

# Convert the query results to a pandas DataFrame
df = pd.DataFrame(age_pollution_results, columns=[
    'country',"year", 'under_5', 'age_5_to_14_years', 'age_70plus_years', 'age_15_to_49_years', 'age_50_to_69_years'
])

# Display the DataFrame
age_pollution_results

In [ ]:
age_pollution_results_dict = {}
for row in age_pollution_results:
    country = row.country
    year = row.year
    under5 = row.under_5
    age5to14 = row.age_5_to_14_years
    age15to49 = row.age_15_to_49_years
    age50to69 = row.age_50_to_69_years
    age70plus = row.age_70plus_years 
    
    if country not in age_pollution_results_dict:
        age_pollution_results_dict[country] = {}
    
    age_pollution_results_dict[country][year] = {
        'under5': under5,
        'age5to14': age5to14,
        'age15to49': age15to49,
        'age50to69': age50to69,
        'age70plus': age70plus
    }
age_pollution_results_dict

In [ ]:
four_air_pollution = session.query(
    Death_rates_from_air_pollution.country,
    Death_rates_from_air_pollution.year,
    (Death_rates_from_air_pollution.household_air_pollution_deaths).label('HAP'),
    (Death_rates_from_air_pollution.ambient_particulate_matter_pollution_deaths).label('APM'),
    (Death_rates_from_air_pollution.air_pollution_deaths).label('AP'),
    (Death_rates_from_air_pollution.ambient_ozone_pollution_deaths).label('AOP'))\
    .filter(Death_rates_from_air_pollution.year >= 2015)

four_air_pollution.all()

In [ ]:
four_air_pollution_dict = {}
for row in four_air_pollution:
    country = row.country
    year = row.year
    HAP = row.HAP
    APM = row.APM
    AP = row.AP
    AOP = row.AOP
    
    if country not in four_air_pollution_dict:
        four_air_pollution_dict[country] = {}
    
    four_air_pollution_dict[country][year] = {
        'HAP': HAP,
        'APM': APM,
        'AP': AP,
        'AOP': AOP,
    }
four_air_pollution_dict

Top 10 countries in year 2019 who have the highest value of DALYs dalys_air_pollution,
dalys_household_air_pollution_from_solid_fuels & dalys_particulate_matter_pollution

In [ ]:
Disease_Burden_by_Risk_Factor = pd.read_sql('select * from Disease_Burden_by_Risk_Factor', connection)
Disease_Burden_by_Risk_Factor

In [ ]:
# Query to filter the top 10 countries in year 2019 who have the highest value of DALYs
top_countries = session.query(Disease_burden_by_risk_factor.country,
                              Disease_burden_by_risk_factor.dalys_air_pollution,
                              Disease_burden_by_risk_factor.dalys_household_air_pollution_from_solid_fuels,
                              Disease_burden_by_risk_factor.dalys_particulate_matter_pollution)\
                        .filter(Disease_burden_by_risk_factor.year>=2015)\
                        .order_by(Disease_burden_by_risk_factor.dalys_id.desc())\
                        .limit(10)\
                        .all()

# Convert the query result to a pandas dataframe
df = pd.DataFrame(top_countries, columns=['Country', 'DALYs_Air_Pollution', 'DALYs_Household_Air_Pollution_from_Solid_Fuels', 'DALYs_Particulate_Matter_Pollution'])

df

In [ ]:
Number_of_Deaths_by_Risk_Factor = pd.read_sql('select * from Number_of_Deaths_by_Risk_Factor', connection)
Number_of_Deaths_by_Risk_Factor

Countries ranked by the highest count of mortality death related to pollution

In [ ]:
AQ_Pollution_Mortality_Data = pd.read_sql('select * from AQ_Pollution_Mortality_Data', connection)
AQ_Pollution_Mortality_Data

In [ ]:
# Query to get the values of pollution deaths and their rank
pollution_deaths = session.query(
                        Aq_pollution_mortality_data.country,
                        (Aq_pollution_mortality_data.total_pollution_deaths).label("TP"),
                        func.rank().over(order_by=Aq_pollution_mortality_data.total_pollution_deaths.desc()).label('TP_Rank'),
                        (Aq_pollution_mortality_data.air_pollution_deaths).label("AP"),
                        func.rank().over(order_by=Aq_pollution_mortality_data.air_pollution_deaths.desc()).label('AP_Rank'),
                        (Aq_pollution_mortality_data.water_pollution_deaths).label("WP"),
                        func.rank().over(order_by=Aq_pollution_mortality_data.water_pollution_deaths.desc()).label('WP_Rank'),
                        (Aq_pollution_mortality_data.occupational_pollution_deaths).label("OP"),
                        func.rank().over(order_by=Aq_pollution_mortality_data.occupational_pollution_deaths.desc()).label('OP_Rank'),
                        (Aq_pollution_mortality_data.lead_deaths).label("LP"),
                        func.rank().over(order_by=Aq_pollution_mortality_data.lead_deaths.desc()).label('LP_Rank')
                    )\
                    .all()

# Convert the query result to a pandas dataframe
df = pd.DataFrame(pollution_deaths, columns=['Country', 'Total_Pollution_Deaths', 'Total_Pollution_Deaths_Rank', 'Air_Pollution_Deaths', 'Air_Pollution_Deaths_Rank', 'Water_Pollution_Deaths', 'Water_Pollution_Deaths_Rank', 'Occupational_Pollution_Deaths', 'Occupational_Pollution_Deaths_Rank', 'Lead_Deaths', 'Lead_Deaths_Rank'])

df.head(10)

In [ ]:
pollution_deaths_dict = {}
for row in pollution_deaths:
    country = row.country
    TP = row.TP
    TP_Rank = row.TP_Rank
    AP = row.AP
    AP_Rank = row.AP_Rank
    WP = row.WP
    WP_Rank = row.WP_Rank
    OP = row.OP
    OP_Rank = row.OP_Rank
    LP = row.LP
    LP_Rank = row.LP_Rank
    
    if country not in pollution_deaths_dict:
        pollution_deaths_dict[country] = {}
    
    pollution_deaths_dict[country] = {
        'TP': TP,
        'TP_Rank': TP_Rank,
        'AP': AP,
        'AP_Rank': AP_Rank,
        'WP': WP,
        'WP_Rank': WP_Rank,
        'OP': OP,
        'OP_Rank': OP_Rank,
        'LP': LP,
        'LP_Rank': LP_Rank,
    }
pollution_deaths_dict