<!--  -->PART 1

# DISCLAIMER:
This document was sourced from the World Health Organization (WHO) and is being used for informational and academic purposes only. 

The views and opinions expressed in this document are those of WHO and do not necessarily reflect the official policy 
or position of any other organization, agency, or government. The use of this document does not imply endorsement or 
verification by WHO of any information contained within.
    
    
WHO ambient air quality database


April 2022 update

Methodology

Methods

The database includes annual mean concentrations of PM10, PM2.5 and NO2 based on ground measurements
of these pollutants. It provides an average for a city or town as a whole rather than at individual stations.
Most of the measurements were made between 2010 and 2019.

Data sources

The primary sources of data were official reports of countries sent to WHO upon request, official national
and subnational reports and national and subnational websites that contain measurements of PM10 or PM2.5
and ground measurements compiled in the framework of the Global Burden of Disease project (18). For
NO2, ground measurements compiled for research by Larkin et al. in 2017 (19) were obtained.
Measurements reported by the following regional networks were also used: Clean Air for Asia (20), the Air
quality e-reporting database of the European Environment Agency (21) for Europe and the AirNow
Programme from the United States embassies and consulates (22). If such official data were not available,
values from peer-reviewed journals were used.

Types of data

Annual mean concentrations of particulate matter (PM10 or PM2.5) and NO2 derived from daily stationary
measurements or data that could be aggregated into annual means, were used. In the absence of annual
means, measurements over a more limited part of the year were used exceptionally to derivate the annual
mean, if the different seasons were represented.

In order to present air quality data that represent human exposure, we used mainly urban measurements,
comprising urban background, residential areas, commercial and mixed areas or rural areas and industrial
areas close to urban settlements. Only data from stationary measurements, as opposed to mobile stations,
were included. Air quality stations that covered particular “hot spots” and exclusively industrial areas were
not included in the analysis, as such measurements often represent areas with the highest exposure and not
mean population exposure. “Hot spots” were either designated as such in the original reports or were
qualified as such because they were, e.g., near exceptionally busy roads. It should be noted that the omission
of these measurements, might, however, have resulted in underestimates of the mean air pollution in a city.
When data from various sources were available for an urban area, only the latest, most reliable sources were
used. For locations for which no new data were available, data from the previous version of the database
were used.

We could not retrieve or use all the publicly available data of interest, because they were not in one of the
four languages selected for the search (i.e., English, French, Portuguese and Spanish) or they provided
incomplete information (such as the reference year or station coordinates). Data were used as presented in
the original sources. The numbers of monitors cited do not necessarily correspond to the number of
operational stations in a city but to the number of stations used to derive the mean.

Search strategy

When official reporting from countries to WHO were not available, we screened the websites of national
ministries of the environment and health and statistics offices for publicly available data
The web searches were conducted with the terms “air quality”, “air pollution”, “suspended particles”,
“monitoring”, “PM10”, “PM2.5” and “NO2”. The languages chosen were English, French, Portuguese and
Spanish.

Only measurements up to 2019 were included, although some late searches included 2020.

Data processing and reporting

When they were available, means for cities and towns reported in the original sources were included. When
a mean was not provided, data from the eligible monitoring station in the city or town were averaged. As
monitoring stations may be placed in locations that do not represent the level of background pollution,
aggregation of their data may not necessarily represent mean air pollution in a city. This risk was partly
mitigated by excluding data from monitoring stations located in hot spots, as stated above.

The population data used for weighting and for estimating the proportion of the population covered were
derived from United Nations Population Statistics (23) (when available) for all the human settlements
covered or census data from national statistics offices (24). When no population data were available, the
median for a specific sector of the population was retrieved manually from the latter.

The temporal coverage represents the number of days per year covered by measurements and any other
range provided in the original sources. When data from several monitoring stations in one city or town were
available, the average temporal coverage was used as the overall average. Although information on
temporal coverage was not always available, the reporting agencies often set a threshold for the number of
days covered before reporting the measurements from a station or used it to estimate the city mean. 

Source: https://cdn.who.int/media/docs/default-source/air-pollution-documents/air-quality-and-health/methodology_who-air-quality-database-2022.pdf?sfvrsn=bdcf9241_10

DISCLAIMER: The data analysis presented in this project includes information/data from a database sourced from the World Health Organization (WHO), which is being used for academic purposes only. The views and opinions expressed in the document are those of WHO and do not necessarily reflect the official policy or position of any other organization, agency, or government. The use of this document does not imply endorsement or verification by WHO of any information contained within.

Source:https://www.who.int/data/gho/data/themes/air-pollution/who-air-quality-database

# Exposure & health impacts of air pollution


DISCLAIMER:
    
This content was sourced from the World Health Organization (WHO) and is being used for informational and academic 
purposes only.
The views and opinions expressed in this document are those of WHO and do not necessarily reflect the official policy 
or position of any other organization, agency, or government. The use of this document does not imply endorsement or 
verification by WHO of any information contained within.


What is air pollution and how does it lead to disease in our bodies?


Air pollution is the presence of one or more contaminants in the atmosphere, such as dust, fumes, gas, mist, odour, smoke or vapor, in quantities and duration that can be injurious to human health. The main pathway of exposure from air pollution is through the respiratory tract. Breathing in these pollutants leads to inflammation, oxidative stress, immunosuppression, and mutagenicity in cells throughout our body, impacting the lungs, heart, brain among other organs and ultimately leading to disease.


What organs are impacted by air pollution?


Almost every organ in the body can be impacted by air pollution. Due to their small size, some air pollutants are able to penetrate into the bloodstream via the lungs and circulate throughout the entire body leading to systemic inflammation and carcinogenicity.


What diseases are associated with exposure to air pollution?


Air pollution is a risk for all-cause mortality as well as specific diseases. The specific disease outcomes most strongly linked with exposure to air pollution include stroke, ischaemic heart disease, chronic obstructive pulmonary disease, lung cancer, pneumonia, and cataract (household air pollution only).

There is suggestive evidence also linking air pollution exposure with increased risk for adverse pregnancy outcomes (i.e. low-birth weight, small for gestational age), other cancers, diabetes, cognitive impairment and neurological diseases.


What are some of the most important air pollutants leading to disease?


Although there are many toxins that have adverse impacts on health, pollutants with the strongest evidence for public health concern include particulate matter (PM), carbon monoxide (CO), ozone (O3), nitrogen dioxide (NO2) and sulphur dioxide (SO2). Fine particulate matter are an especially important source of health risks, as these very small particles can penetrate deep into the lungs, enter the bloodstream, and travel to organs causing systemic damages to tissues and cells.


How long does someone need to be exposed to air pollution to harm their health?


Health problems in children and adults can occur because of both short- and long-term exposure to air pollutants. The levels and duration of exposure that can be considered ‘safe’ vary by pollutant, as well as the related disease outcomes. For some pollutants, there are no thresholds below which adverse effects do not occur. Exposure to high levels of particulate matter, for example, can lead to reduced lung function, respiratory infections and aggravated asthma from short-term exposure. Whereas long-term or chronic exposure to fine particulate matter increases a person’s risk for diseases with a longer onset, like some noncommunicable diseases including stroke, heart disease, chronic obstructive pulmonary disease and cancer.


Are some populations more likely to be at higher risk for disease from air pollution?


The children, elderly and pregnant women are more susceptible to air pollution-related diseases. Genetics, comorbidities, nutrition and sociodemographic factors also impact a person’s susceptibility to air pollution.


Does exposure to air pollution during pregnancy impact the health of the fetus?


Maternal exposure to air pollution is associated with adverse birth outcomes, such as low birth weight, pre-term birth and small for gestational age births. A growing body of evidence also suggests that air pollution may affect diabetes and neurological development in children.


Are the health risks the same between ambient air pollution and household air pollution?


The health impacts from exposure to ambient air pollution or household air pollution are dependent on the types and concentrations of the pollutants in the air pollution mixture to which an individual is exposed. However, the health risks and disease pathways between ambient and household air pollution exposure are often similar, due to their similar composition. Fine particulate matter for example is a common and critical pollutant of both ambient and household air pollution leading to negative health impacts. Additional safety risks are associated with many of the fuels and technologies used in the home emitting air pollution. These include burns and poisonings (from kerosene ingestion), as well as physical injury related to fuel collection, including musculoskeletal damage, violence, and animal bites.

It is important to note that the death and disability estimates attributed to air pollution do not account for all health outcomes associated with air pollution. WHO estimates are likely conservative as only health outcomes for which there is strong certainty in the epidemiological evidence are included (i.e. stroke, ischemic heart disease, chronic obstructive pulmonary disease, pneumonia, and lung cancer).


Source: https://www.who.int/teams/environment-climate-change-and-health/air-quality-and-health/health-impacts Credit: WHO
            
            
Types of pollutants(covered in this study)


Ambient and household air pollution can come from similar processes such as incomplete combustion of fuels or chemical reactions between gases. However, the specific source of the combustion process can vary. For example, household activities such as cooking and heating with dirty technologies, and lighting with kerosene, emits a range of health harmful pollutants indoors, while activities such as high temperature combustion in vehicles, industries and power generating facilities contribute to ambient air pollution. Activities such as boiling water for bathing or cooking animal fodder can also add to household air pollution exposures.

Pollutants with the strongest evidence for public health concern include particulate matter (PM), carbon monoxide (CO), ozone (O3), nitrogen dioxide (NO2) and sulfur dioxide (SO2). Health problems can occur as a result of both short- and long-term exposure to these various pollutants. For some pollutants, there are no thresholds below which adverse effects do not occur.

Pollutants which are included in the WHO global air quality guidelines are presented firstly followed by pollutants for which there are good practice statements but no quantitative values.


Particulate Matter Particulate matter (PM) refers to inhalable particles, composed of sulphate, nitrates, ammonia, sodium chloride, black carbon, mineral dust or water. PM can be of different size and is generally defined by their aerodynamic diameter, with PM2.5 and PM10 the most common in the regulatory framework and relevant for health.

Sources of the largest particles called coarse particles (particles with diameter between 2.5 µm and 10 µm) will mainly consist of pollen, sea spray and wind-blown dust from erosion, agricultural spaces, roadways and mining operations. The finer particles (i.e., PM2.5) can be derived from primary sources (e.g., combustion of fuels in power generation facilities, industries or vehicles) and secondary sources (e.g., chemical reactions between gases). The greatest source of particulate matter around the home is generally the combustion of polluting fuels in open hearths or poorly vented, inefficient stoves or space heaters. In addition to household activities like cooking, space heating, and lighting, other activities can be important sources of particulate matter pollution in the home environment, such as preparing animal fodder, heating water for bathing and brewing beverages.

In outdoor environments, the main sources are location-specific and can be made up of different different origins but typically include traffic and transportation, industrial activities, power plants, construction sites, waste burning, fires or fields.

The health risks associated with particulate matter of less than 10 and 2.5 microns in diameter (PM10 and PM2.5) are especially well documented. PM is capable of penetrating deep into the lung and enter the bloodstream causing cardiovascular (ischaemic heart disease), cerebrovascular (stroke) and respiratory impacts. Both long-term and short-term exposure to particulate matter is associated with morbidity and mortality from cardiovascular and respiratory diseases. Long-term exposure has been further linked to adverse perinatal outcomes and lung cancer. In 2013, it was classified as a cause of lung cancer by WHO’s International Agency for Research on Cancer (IARC). It is also the most widely used indicator for assessing the health effects of exposure to air pollution.


Nitrogen Dioxide Nitrogen dioxide (NO2) is a reddish-brown gas that is soluble in water, and a strong oxidant. Ambient sources of NO2 results from high temperature combustion of fuels in processes such as those used for heating, transportation, industry and power generation. Household sources of nitrogen oxides (NOx) include equipment that burn fuels such as furnaces, fireplaces and gas stoves and ovens. Exposure to nitrogen dioxide can irritate airways and aggravate respiratory diseases.

NO2 is an important ozone precursor, a pollutant closely linked to asthma and other respiratory conditions.


Ozone Ground-level ozone (O3) is a major component of smog. It is formed from photochemical reactions with pollutants such volatile organic compounds, carbon monoxide and nitrogen oxides (NOx) emitted from vehicles, and industry. Due to the photochemical nature, the highest levels of ozone are seen during periods of sunny weather. It is worth mentioning that ozone can also be generated by household equipment, such as portable air cleaners.

Exposure to excessive ozone can cause problems breathing, trigger asthma, reduce lung function and lead to lung disease.



Sources:

https://www.who.int/teams/environment-climate-change-and-health/air-quality-and-health/health-impacts/types-of-pollutants

https://www.who.int/teams/environment-climate-change-and-health/air-quality-and-health/health-impacts/exposure-air-pollution

# Ambient Air Quality (outdoor)

In [1]:
import pandas as pd
import chardet

# Detect the encoding of the CSV file
with open('Resources/AirQualityData/dataset1.csv', 'rb') as f:
    result = chardet.detect(f.read())
    encoding = result['encoding']

# Read the CSV file using pandas and the detected encoding
df = pd.read_csv('Resources/AirQualityData/dataset1.csv', encoding=encoding)

# Access the data as a pandas DataFrame object
df.head()

,WHO Region,ISO3,WHO Country Name,City or Locality,Measurement Year,PM2.5 (?g/m3),PM10 (?g/m3),NO2 (?g/m3),PM25 temporal coverage (%),PM10 temporal coverage (%),NO2 temporal coverage (%),Reference,Number and type of monitoring stations,Version of the database,Status,Unnamed: 15,Unnamed: 16
0,Eastern Mediterranean Region,AFG,Afghanistan,Kabul,2019,119.77,NaN,NaN,18.0,NaN,NaN,"U.S. Department of State, United States Enviro...",NaN,2022,NaN,NaN,NaN
1,European Region,ALB,Albania,Durres,2015,NaN,17.65,26.63,NaN,NaN,83.961187,European Environment Agency (downloaded in 2021),NaN,2022,NaN,NaN,NaN
2,European Region,ALB,Albania,Durres,2016,14.32,24.56,24.78,NaN,NaN,87.932605,European Environment Agency (downloaded in 2021),NaN,2022,NaN,NaN,NaN
3,European Region,ALB,Albania,Elbasan,2015,NaN,NaN,23.96,NaN,NaN,97.853881,European Environment Agency (downloaded in 2021),NaN,2022,NaN,NaN,NaN
4,European Region,ALB,Albania,Elbasan,2016,NaN,NaN,26.26,NaN,NaN,96.049636,European Environment Agency (downloaded in 2021),NaN,2022,NaN,NaN,NaN

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32191 entries, 0 to 32190
Data columns (total 17 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   WHO Region                              32190 non-null  object
 1   ISO3                                    32191 non-null  object
 2   WHO Country Name                        32191 non-null  object
 3   City or Locality                        32191 non-null  object
 4   Measurement Year                        32191 non-null  int64
 5   PM2.5 (?g/m3)                           15048 non-null  float64
 6   PM10 (?g/m3)                            21109 non-null  float64
 7   NO2 (?g/m3)                             22200 non-null  float64
 8   PM25 temporal coverage (%)              7275 non-null   float64
 9   PM10 temporal coverage (%)              5381 non-null   float64
 10  NO2 temporal coverage (%)               19890 non-null  float64
 11  Reference                               32186 non-null  object
 12  Number and type of monitoring stations  8758 non-null   object
 13  Version of the database                 32191 non-null  int64
 14  Status                                  0 non-null      float64
 15  Unnamed: 15                             0 non-null      float64
 16  Unnamed: 16                             0 non-null      float64
dtypes: float64(9), int64(2), object(6)
memory usage: 4.2+ MB

In [39]:
# Remove the unwanted columns and any leading/trailing spaces
cols_to_remove = ['PM25 temporal coverage (%)','PM10 temporal coverage (%)','NO2 temporal coverage (%)','Reference', 'Number and type of monitoring stations', 'Version of the database', 'Status', 'Unnamed: 15', 'Unnamed: 16']
df = df.drop([col.strip() for col in cols_to_remove if col.strip() in df.columns], axis=1)

# Print the resulting DataFrame
df.head()

,WHO Region,ISO3,WHO Country Name,City or Locality,Measurement Year,PM2.5 (?g/m3),PM10 (?g/m3),NO2 (?g/m3)
0,Eastern Mediterranean Region,AFG,Afghanistan,Kabul,2019,119.77,NaN,NaN
1,European Region,ALB,Albania,Durres,2015,NaN,17.65,26.63
2,European Region,ALB,Albania,Durres,2016,14.32,24.56,24.78
3,European Region,ALB,Albania,Elbasan,2015,NaN,NaN,23.96
4,European Region,ALB,Albania,Elbasan,2016,NaN,NaN,26.26

In [40]:
# Replace NaN values with 0
df = df.fillna(0)
# Print the resulting DataFrame
df.head()

,WHO Region,ISO3,WHO Country Name,City or Locality,Measurement Year,PM2.5 (?g/m3),PM10 (?g/m3),NO2 (?g/m3)
0,Eastern Mediterranean Region,AFG,Afghanistan,Kabul,2019,119.77,0.00,0.00
1,European Region,ALB,Albania,Durres,2015,0.00,17.65,26.63
2,European Region,ALB,Albania,Durres,2016,14.32,24.56,24.78
3,European Region,ALB,Albania,Elbasan,2015,0.00,0.00,23.96
4,European Region,ALB,Albania,Elbasan,2016,0.00,0.00,26.26

In [41]:
# Rename the columns
# unit μg/m³
new_column_names = {'WHO Region': 'Region', 'City or Locality': 'City', 'WHO Country Name': 'Country', 'PM2.5 (?g/m3)': 'PM25', 'PM10 (?g/m3)': 'PM10', 'NO2 (?g/m3)':'NO2'}
df = df.rename(columns=new_column_names)

# Print the resulting DataFrame
df.head(100)

,Region,ISO3,Country,City,Measurement Year,PM25,PM10,NO2
0,Eastern Mediterranean Region,AFG,Afghanistan,Kabul,2019,119.77,0.00,0.00
1,European Region,ALB,Albania,Durres,2015,0.00,17.65,26.63
2,European Region,ALB,Albania,Durres,2016,14.32,24.56,24.78
3,European Region,ALB,Albania,Elbasan,2015,0.00,0.00,23.96
4,European Region,ALB,Albania,Elbasan,2016,0.00,0.00,26.26
...,...,...,...,...,...,...,...,...
95,Western Pacific Region,AUS,Australia,Bunbury,2010,9.20,17.60,0.00
96,Western Pacific Region,AUS,Australia,Bunbury,2011,8.00,17.00,0.00
97,Western Pacific Region,AUS,Australia,Bunbury,2012,8.60,17.50,0.00
98,Western Pacific Region,AUS,Australia,Bunbury,2013,7.80,16.80,0.00
99,Western Pacific Region,AUS,Australia,Bunbury,2014,7.80,16.10,0.00

In [42]:
# # save the DataFrame to a CSV file
# df.to_csv('Ambient_Air_Quality_Data.csv', index=True)

In [7]:
# get the sorted unique years
unique_years = df['Measurement Year'].sort_values().unique()

# display the result
print(unique_years)

# The latest year completed/updated is only until 2019 according the WHO, see above document,
# 'WHO ambient air quality database' under 'Search Stategy' paragraph

[2000 2001 2002 2003 2004 2006 2007 2008 2009 2010 2011 2012 2013 2014
 2015 2016 2017 2018 2019 2020 2021]

# Air Pollution and Its Contribution to Mortality Rate (by country)


According to WHO, air pollution is one of the greatest environmental risk to health. By reducing air pollution levels, 
countries can reduce the burden of disease from stroke, heart disease, lung cancer, and both chronic and acute respiratory 
diseases, including asthma.

In 2019, 99% of the world’s population was living in places where the WHO air quality guidelines levels were not met.
The combined effects of ambient air pollution and household air pollution are associated with 6.7 million premature 
deaths annually.

Ambient (outdoor) air pollution is estimated to have caused 4.2 million premature deaths worldwide in 2019.
Some 89% of those premature deaths occurred in low- and middle-income countries, and the greatest number in the 
WHO South-East Asia and Western Pacific Regions.
Policies and investments supporting cleaner transport, energy efficient homes, power generation, industry and 
better municipal waste management would reduce key sources of outdoor air pollution. Access to clean household 
energy would also greatly reduce ambient air pollution in some regions.
(Source:https://www.who.int/news-room/fact-sheets/detail/ambient-(outdoor)-air-quality-and-health)

Data source:
    
https://gahp.net/wp-content/uploads/2019/12/PollutionandHealthMetrics-final-12_18_2019.pdf

Credit: Global Alliance on Health and Pollution (GAHP)

In [ ]:
# Webscrape the tables from the online pdf file

import tabula

# Define the URL of the PDF file
url = 'https://gahp.net/wp-content/uploads/2019/12/PollutionandHealthMetrics-final-12_18_2019.pdf'

# Extract tables from pages 43 to 51 of the PDF file and save them as CSV files
for page in range(43, 52):
    output_file = f'output_page_{page}.csv'
    tabula.convert_into(url, output_file, output_format='csv', pages=str(page), stream=True)
    

#tables are converted to csv files and directly stored to the local directory

In [23]:
#read csv
df2 = pd.read_csv('Resources/AirQualityData/dataset2.csv')
df2.head()

,Country,Pollution Death Rate,Death Rate Ranking,Total Pollution Deaths,Air Pollution Deaths,Water Pollution Deaths,Occupational Pollution Deaths,Lead Deaths
0,Afghanistan,125,30,44247,26054,8048,605,9539
1,Albania,79,92,2269,1639,9,149,472
2,Algeria,43,159,17940,13222,383,709,3626
3,Andorra,58,140,45,23,0,18,3
4,Angola,104,49,30842,10728,18846,354,914

In [24]:
# Remove the unwanted columns and any leading/trailing spaces
cols_to_remove = ['Unnamed: 8','Unnamed: 9', 'Unnamed: 10']
df2 = df2.drop([col.strip() for col in cols_to_remove if col.strip() in df2.columns], axis=1)

# Print the resulting DataFrame
df2.head()

,Country,Pollution Death Rate,Death Rate Ranking,Total Pollution Deaths,Air Pollution Deaths,Water Pollution Deaths,Occupational Pollution Deaths,Lead Deaths
0,Afghanistan,125,30,44247,26054,8048,605,9539
1,Albania,79,92,2269,1639,9,149,472
2,Algeria,43,159,17940,13222,383,709,3626
3,Andorra,58,140,45,23,0,18,3
4,Angola,104,49,30842,10728,18846,354,914

In [25]:
# convert specific columns to integers
cols_to_convert = [
    'Pollution Death Rate',
    'Death Rate Ranking',
    'Total Pollution Deaths',
    'Air Pollution Deaths',
    'Water Pollution Deaths',
    'Occupational Pollution Deaths',
    'Lead Deaths'
]
# convert the columns to numeric values
df2[cols_to_convert] = df2[cols_to_convert].apply(pd.to_numeric, errors='coerce')

# replace missing or non-finite values with 0
df2[cols_to_convert] = df2[cols_to_convert].fillna(0)

# convert the columns to integers
df2[cols_to_convert] = df2[cols_to_convert].astype(int)

# display the updated DataFrame
df2.head()

,Country,Pollution Death Rate,Death Rate Ranking,Total Pollution Deaths,Air Pollution Deaths,Water Pollution Deaths,Occupational Pollution Deaths,Lead Deaths
0,Afghanistan,125,30,44247,26054,8048,605,9539
1,Albania,79,92,2269,1639,9,149,472
2,Algeria,43,159,17940,13222,383,709,3626
3,Andorra,58,140,45,23,0,18,3
4,Angola,104,49,30842,10728,18846,354,914

In [26]:
df2.columns

Index(['Country', 'Pollution Death Rate', 'Death Rate Ranking',
       'Total Pollution Deaths', 'Air Pollution Deaths',
       'Water Pollution Deaths', 'Occupational Pollution Deaths',
       'Lead Deaths'],
      dtype='object')

In [27]:
# Rename the columns
new_column_names = {'Pollution Death Rate':'Pollution_Death_Rate', 'Death Rate Ranking':'Death_Rate_Ranking',
       'Total Pollution Deaths':'Total_Pollution_Deaths', 'Air Pollution Deaths':'Air_Pollution_Deaths',
       'Water Pollution Deaths':'Water_Pollution_Deaths', 'Occupational Pollution Deaths':'Occupational_Pollution_Deaths',
       'Lead Deaths':'Lead_Deaths'}
df2 = df2.rename(columns=new_column_names)

# Print the resulting DataFrame
df2.head()

,Country,Pollution_Death_Rate,Death_Rate_Ranking,Total_Pollution_Deaths,Air_Pollution_Deaths,Water_Pollution_Deaths,Occupational_Pollution_Deaths,Lead_Deaths
0,Afghanistan,125,30,44247,26054,8048,605,9539
1,Albania,79,92,2269,1639,9,149,472
2,Algeria,43,159,17940,13222,383,709,3626
3,Andorra,58,140,45,23,0,18,3
4,Angola,104,49,30842,10728,18846,354,914

In [28]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        188 non-null    object
 1   Pollution_Death_Rate           188 non-null    int32
 2   Death_Rate_Ranking             188 non-null    int32
 3   Total_Pollution_Deaths         188 non-null    int32
 4   Air_Pollution_Deaths           188 non-null    int32
 5   Water_Pollution_Deaths         188 non-null    int32
 6   Occupational_Pollution_Deaths  188 non-null    int32
 7   Lead_Deaths                    188 non-null    int32
dtypes: int32(7), object(1)
memory usage: 6.7+ KB

In [47]:
# # save the DataFrame to a CSV file
# df2_with_pk = df.reset_index().rename(columns={'index': 'id'})

# # Save DataFrame with primary key as CSV file
# df2_with_pk.to_csv('AQ_Pollution_Mortality_Data.csv', index=False)

# Health Impacts & Mortality Data

Definition



DALYs (Disability-Adjusted Life Years) is a measure of disease burden that combines years of life lost due to premature mortality and years lived with a disability, adjusted for the severity of the disability.

It is a commonly used metric to compare the overall health impact of different diseases, risk factors, and interventions. The calculation of DALYs involves estimating the number of years of life lost due to premature mortality and the number of years lived with a disability, adjusted for the severity of the disability.

DALYs provide a way to compare the relative impact of different diseases or risk factors on a population, taking into account both premature death and disability. This measure can be used to help set priorities for public health interventions, and to assess the impact of interventions over time.

If the DALYs are high for a particular disease or health risk factor, it indicates that the burden of that disease or risk factor is high in terms of years of healthy life lost due to disability or premature death. In other words, a high DALY value suggests that a large number of people are suffering from the disease or health risk factor and that it is having a significant impact on their health and well-being.

High DALYs can be used to identify the major health challenges in a population and prioritize interventions and resources to address these challenges. For example, if a particular disease or risk factor has a high DALY value, then efforts can be directed towards preventing the disease, improving access to treatment, and reducing the burden of disability and death associated with the disease. By reducing the DALYs associated with a particular disease or risk factor, it is possible to improve the health and well-being of individuals and communities.

# kaggle.com

Disclaimer: The data gathered and used in this project is solely for academic purposes as a student. 
    The information was collected from publicly available sources and was analyzed and presented in accordance 
    with academic standards and guidelines. The author of this project expresses gratitude towards the individuals 
    and organizations that provided the data and the website from which it was collected. It is important to note 
    that the author of this project does not claim ownership of any of the data used or presented in this project.
    
https://www.kaggle.com/datasets/programmerrdai/air-pollution?select=death-rates-from-air-pollution.csv

https://www.kaggle.com/datasets/programmerrdai/outdoor-air-pollution?select=PM25-air-pollution.csv
    
CREDIT:
    
@article{owidairpollution,
         
author = {Hannah Ritchie and Max Roser},
         
title = {Air Pollution},
         
journal = {Our World in Data},
         
year = {2017},{2019},
         
note = {https://ourworldindata.org/air-pollution}
         
}

In [ ]:
#To set up
# Install !pip install opendatasets to download a CSV file using API (API key is required)

In [ ]:
# !pip install opendatasets

In [39]:
import opendatasets as od

In [40]:
# Download directly from kaggle.com using API with API key
# od.download("https://www.kaggle.com/datasets/programmerrdai/outdoor-air-pollution?select=PM25-air-pollution.csv")

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username:
  @media print {
    .ms-editor-squiggles-container {
      display:none !important;
    }
  }
  .ms-editor-squiggles-container {
    all: initial;
  }mtanguin
Your Kaggle Key: ········
Downloading outdoor-air-pollution.zip to .\outdoor-air-pollution

100%|█████████████████████████████████████████████████████████████████████████████| 2.69M/2.69M [00:00<00:00, 20.8MB/s]

In [41]:
# od.download("https://www.kaggle.com/datasets/programmerrdai/air-pollution?select=death-rates-from-air-pollution.csv")

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: mtanguin
Your Kaggle Key: ········
Downloading air-pollution.zip to .\air-pollution

100%|█████████████████████████████████████████████████████████████████████████████| 4.96M/4.96M [00:00<00:00, 30.2MB/s]

In [ ]:
# the data were saved in folder 'air-pollution'

In [ ]:
# the data were saved in folder 'outdoor-air-pollution'

In [10]:
# read the csv
disease_burden_by_risk = pd.read_csv("Resources/air-pollution/disease-burden-by-risk-factor.csv")
disease_burden_by_risk

,Entity,Code,Year,DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Low physical activity - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Non-exclusive breastfeeding - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Air pollution - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Child wasting - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: High systolic blood pressure - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: High fasting plasma glucose - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Child stunting - Sex: Both - Age: All Ages (Number),...,DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Diet low in fruits - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Diet high in sodium - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Drug use - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Household air pollution from solid fuels - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: High LDL cholesterol - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Iron deficiency - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Zinc deficiency - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Smoking - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Vitamin A deficiency - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Ambient particulate matter pollution - Sex: Both - Age: All Ages (Number)
0,Afghanistan,AFG,1990,61720.058219,197049.343187,1.986290e+06,1.708694e+06,663575.469121,310177.824198,670056.509793,...,94406.717565,28130.503389,18453.028002,1.841529e+06,368120.250887,76413.873296,2126.187912,146352.771752,184149.100782,143037.542010
1,Afghanistan,AFG,1991,62191.602523,222485.786219,2.069430e+06,1.779058e+06,670934.569427,320839.934886,687930.679368,...,96652.397744,28464.364022,20531.099580,1.919544e+06,372702.685048,83459.009317,2741.145867,148548.448080,188899.766443,148112.800523
2,Afghanistan,AFG,1992,63325.234394,271585.194354,2.298508e+06,2.005481e+06,685869.859272,335451.577576,748159.931627,...,100583.278505,29182.429478,24164.955876,2.133595e+06,383044.266379,95694.184454,3732.054083,152365.470168,194698.048698,163113.847852
3,Afghanistan,AFG,1993,64873.624040,331279.278186,2.555748e+06,2.366581e+06,705695.943628,351943.243949,862717.780568,...,105191.805884,30120.104822,26870.387967,2.373299e+06,395832.846077,105355.900347,5601.761233,157201.574054,214913.903021,180597.540508
4,Afghanistan,AFG,1994,66452.067739,340745.132961,2.707120e+06,2.559192e+06,725499.978333,367981.285438,963305.495901,...,109624.026430,31057.426861,28280.627477,2.514445e+06,407919.388795,110864.383933,6591.110924,162079.206845,246066.040867,190782.712706
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,7196.883376,65671.534114,6.534109e+05,4.945638e+05,288229.134690,261661.602676,63780.019141,...,53594.848406,29747.997758,67068.713385,5.201553e+05,87253.138875,76773.610378,496.813378,254297.172658,19442.227700,132720.833419
6836,Zimbabwe,ZWE,2016,7424.673391,62675.108624,6.419202e+05,4.892715e+05,293491.994322,267324.870999,58934.337502,...,54674.745670,30316.604977,66051.172018,5.121190e+05,89293.171029,76749.552289,498.188006,257688.560259,15954.196094,128623.752629
6837,Zimbabwe,ZWE,2017,7655.216366,60760.780558,6.253864e+05,4.729722e+05,297975.170930,271637.414894,55018.607164,...,55585.375525,30801.418652,64765.922307,5.016625e+05,91114.207679,76705.134732,491.272163,260584.249200,14143.229463,122945.068963
6838,Zimbabwe,ZWE,2018,7862.559712,57715.005016,6.095453e+05,4.531539e+05,303252.995416,276985.761601,53059.623942,...,56701.620285,31371.980893,63150.799837,4.889329e+05,93196.028566,76782.617198,455.911840,263968.056677,14170.808013,120112.453670
6839,Zimbabwe,ZWE,2019,8126.406128,56559.247125,6.003300e+05,4.422579e+05,309965.685854,283899.032660,51181.335896,...,58106.548639,32089.424061,62930.146460,4.800418e+05,95795.330925,77168.229396,431.915946,268873.306327,13749.489957,119444.164549

In [11]:
new_column_names = {
    'Entity': 'Country',
    'Code': 'ISO3',
    'Year': 'Year',
    'DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Low physical activity - Sex: Both - Age: All Ages (Number)': 'DALYs_Low_Physical_Activity',
    'DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Non-exclusive breastfeeding - Sex: Both - Age: All Ages (Number)': 'DALYs_Non-Exclusive_Breastfeeding',
    'DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Air pollution - Sex: Both - Age: All Ages (Number)': 'DALYs_Air_Pollution',
    'DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Child wasting - Sex: Both - Age: All Ages (Number)': 'DALYs_Child_Wasting',
    'DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: High systolic blood pressure - Sex: Both - Age: All Ages (Number)': 'DALYs_High_Systolic_BP',
    'DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: High fasting plasma glucose - Sex: Both - Age: All Ages (Number)': 'DALYs_High_Fasting_Glucose',
    'DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Child stunting - Sex: Both - Age: All Ages (Number)': 'DALYs_Child_Stunting',
    'DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: High body-mass index - Sex: Both - Age: All Ages (Number)': 'DALYs_High_Body_Mass_Index',
    'DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Secondhand smoke - Sex: Both - Age: All Ages (Number)':'DALYS_Secondhand_Smoke',
    'DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Unsafe sanitation - Sex: Both - Age: All Ages (Number)':'DALYs_Unsafe_Sanitation',
    'DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Unsafe water source - Sex: Both - Age: All Ages (Number)':'DALYs_Unsafe_Water_Source',
    'DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Diet low in fruits - Sex: Both - Age: All Ages (Number)': 'DALYs_Diet_Low_in_Fruits',
    'DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Diet high in sodium - Sex: Both - Age: All Ages (Number)': 'DALYs_Diet_High_in_Sodium',
    'DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Drug use - Sex: Both - Age: All Ages (Number)': 'DALYs_Drug_Use',
    'DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Diet low in vegetables - Sex: Both - Age: All Ages (Number)':'DALYs_Diet_Low_in-Vegetables',
    'DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Household air pollution from solid fuels - Sex: Both - Age: All Ages (Number)': 'DALYs_Household_Air_Pollution_from_Solid_Fuels',
    'DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: High LDL cholesterol - Sex: Both - Age: All Ages (Number)': 'DALYs_High_LDL_Cholesterol',
    'DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Iron deficiency - Sex: Both - Age: All Ages (Number)': 'DALYs_Iron_Deficiency',
    'DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Zinc deficiency - Sex: Both - Age: All Ages (Number)': 'DALYs_Zinc_Deficiency',
    'DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Smoking - Sex: Both - Age: All Ages (Number)':'DALYs_Smoking',
    'DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Vitamin A deficiency - Sex: Both - Age: All Ages (Number)':'DALYs_VitaminA_Deficiency',
    'DALYs (Disability-Adjusted Life Years) - Cause: All causes - Risk: Ambient particulate matter pollution - Sex: Both - Age: All Ages (Number)': 'DALYs_Particulate_Matter_Pollution'}
disease_burden_by_risk = disease_burden_by_risk.rename(columns=new_column_names)
disease_burden_by_risk.head()

,Country,ISO3,Year,DALYs_Low_Physical_Activity,DALYs_Non-Exclusive_Breastfeeding,DALYs_Air_Pollution,DALYs_Child_Wasting,DALYs_High_Systolic_BP,DALYs_High_Fasting_Glucose,DALYs_Child_Stunting,...,DALYs_Diet_Low_in_Fruits,DALYs_Diet_High_in_Sodium,DALYs_Drug_Use,DALYs_Household_Air_Pollution_from_Solid_Fuels,DALYs_High_LDL_Cholesterol,DALYs_Iron_Deficiency,DALYs_Zinc_Deficiency,DALYs_Smoking,DALYs_VitaminA_Deficiency,DALYs_Particulate_Matter_Pollution
0,Afghanistan,AFG,1990,61720.058219,197049.343187,1.986290e+06,1.708694e+06,663575.469121,310177.824198,670056.509793,...,94406.717565,28130.503389,18453.028002,1.841529e+06,368120.250887,76413.873296,2126.187912,146352.771752,184149.100782,143037.542010
1,Afghanistan,AFG,1991,62191.602523,222485.786219,2.069430e+06,1.779058e+06,670934.569427,320839.934886,687930.679368,...,96652.397744,28464.364022,20531.099580,1.919544e+06,372702.685048,83459.009317,2741.145867,148548.448080,188899.766443,148112.800523
2,Afghanistan,AFG,1992,63325.234394,271585.194354,2.298508e+06,2.005481e+06,685869.859272,335451.577576,748159.931627,...,100583.278505,29182.429478,24164.955876,2.133595e+06,383044.266379,95694.184454,3732.054083,152365.470168,194698.048698,163113.847852
3,Afghanistan,AFG,1993,64873.624040,331279.278186,2.555748e+06,2.366581e+06,705695.943628,351943.243949,862717.780568,...,105191.805884,30120.104822,26870.387967,2.373299e+06,395832.846077,105355.900347,5601.761233,157201.574054,214913.903021,180597.540508
4,Afghanistan,AFG,1994,66452.067739,340745.132961,2.707120e+06,2.559192e+06,725499.978333,367981.285438,963305.495901,...,109624.026430,31057.426861,28280.627477,2.514445e+06,407919.388795,110864.383933,6591.110924,162079.206845,246066.040867,190782.712706

In [12]:
disease_burden_by_risk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6840 entries, 0 to 6839
Data columns (total 25 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Country                                         6840 non-null   object
 1   ISO3                                            6150 non-null   object
 2   Year                                            6840 non-null   int64
 3   DALYs_Low_Physical_Activity                     6840 non-null   float64
 4   DALYs_Non-Exclusive_Breastfeeding               6840 non-null   float64
 5   DALYs_Air_Pollution                             6840 non-null   float64
 6   DALYs_Child_Wasting                             6840 non-null   float64
 7   DALYs_High_Systolic_BP                          6840 non-null   float64
 8   DALYs_High_Fasting_Glucose                      6840 non-null   float64
 9   DALYs_Child_Stunting                            6840 non-null   float64
 10  DALYs_High_Body_Mass_Index                      6840 non-null   float64
 11  DALYS_Secondhand_Smoke                          6840 non-null   float64
 12  DALYs_Unsafe_Sanitation                         6840 non-null   float64
 13  DALYs_Unsafe_Water_Source                       6840 non-null   float64
 14  DALYs_Diet_Low_in-Vegetables                    6840 non-null   float64
 15  DALYs_Diet_Low_in_Fruits                        6840 non-null   float64
 16  DALYs_Diet_High_in_Sodium                       6840 non-null   float64
 17  DALYs_Drug_Use                                  6840 non-null   float64
 18  DALYs_Household_Air_Pollution_from_Solid_Fuels  6840 non-null   float64
 19  DALYs_High_LDL_Cholesterol                      6840 non-null   float64
 20  DALYs_Iron_Deficiency                           6840 non-null   float64
 21  DALYs_Zinc_Deficiency                           6840 non-null   float64
 22  DALYs_Smoking                                   6840 non-null   float64
 23  DALYs_VitaminA_Deficiency                       6840 non-null   float64
 24  DALYs_Particulate_Matter_Pollution              6840 non-null   float64
dtypes: float64(22), int64(1), object(2)
memory usage: 1.3+ MB

In [15]:
# disease_burden_by_risk.to_csv('disease_burden_by_risk_factor.csv', index=False)

In [17]:
# read the csv
deaths_by_risk_factor = pd.read_csv("Resources/outdoor-air-pollution/number-of-deaths-by-risk-factor.csv")
deaths_by_risk_factor

,Entity,Code,Year,Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: High systolic blood pressure - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Diet high in sodium - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Diet low in whole grains - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Alcohol use - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Diet low in fruits - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Unsafe water source - Sex: Both - Age: All Ages (Number),...,Deaths - Cause: All causes - Risk: High body-mass index - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Unsafe sanitation - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: No access to handwashing facility - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Drug use - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Low bone mineral density - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Vitamin A deficiency - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Child stunting - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Discontinued breastfeeding - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Non-exclusive breastfeeding - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Iron deficiency - Sex: Both - Age: All Ages (Number)
0,Afghanistan,AFG,1990,3169,25633,1045,7077,356,3185,3702,...,9518,2798,4825,174,389,2016,7686,107,2216,564
1,Afghanistan,AFG,1991,3222,25872,1055,7149,364,3248,4309,...,9489,3254,5127,188,389,2056,7886,121,2501,611
2,Afghanistan,AFG,1992,3395,26309,1075,7297,376,3351,5356,...,9528,4042,5889,211,393,2100,8568,150,3053,700
3,Afghanistan,AFG,1993,3623,26961,1103,7499,389,3480,7152,...,9611,5392,7007,232,411,2316,9875,204,3726,773
4,Afghanistan,AFG,1994,3788,27658,1134,7698,399,3610,7192,...,9675,5418,7421,247,413,2665,11031,204,3833,812
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,2835,11483,1063,1354,4854,1820,4336,...,5636,2879,4328,1068,407,138,730,21,734,282
6836,Zimbabwe,ZWE,2016,2781,11663,1082,1383,4915,1854,4244,...,5849,2798,4295,1042,415,101,674,20,700,275
6837,Zimbabwe,ZWE,2017,2700,11819,1098,1409,4992,1883,4193,...,6047,2744,4251,1007,424,82,629,19,678,267
6838,Zimbabwe,ZWE,2018,2669,12002,1117,1439,5044,1917,4013,...,6248,2608,4153,969,434,85,607,17,644,261
6839,Zimbabwe,ZWE,2019,2680,12241,1140,1475,5156,1960,3914,...,6475,2531,4113,963,438,81,585,16,631,259

In [20]:
deaths_by_risk_factor = deaths_by_risk_factor.rename(columns={
    'Entity': 'Country',
    'Code': 'ISO3',
    'Year': 'Year',
    'Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: All Ages (Number)': 'Deaths_from_Outdoor_Air_Pollution',
    'Deaths - Cause: All causes - Risk: High systolic blood pressure - Sex: Both - Age: All Ages (Number)': 'Deaths_from_High_Systolic_Blood_Pressure',
    'Deaths - Cause: All causes - Risk: Diet high in sodium - Sex: Both - Age: All Ages (Number)': 'Deaths_from_High_Sodium_Diet',
    'Deaths - Cause: All causes - Risk: Diet low in whole grains - Sex: Both - Age: All Ages (Number)': 'Deaths_from_Low_Whole_Grains_Diet',
    'Deaths - Cause: All causes - Risk: Alcohol use - Sex: Both - Age: All Ages (Number)': 'Deaths_from_Alcohol_Use',
    'Deaths - Cause: All causes - Risk: Diet low in fruits - Sex: Both - Age: All Ages (Number)': 'Deaths_from_Low_Fruits_Diet',
    'Deaths - Cause: All causes - Risk: Unsafe water source - Sex: Both - Age: All Ages (Number)': 'Deaths_from_Unsafe_Water_Source',
    'Deaths - Cause: All causes - Risk: Secondhand smoke - Sex: Both - Age: All Ages (Number)': 'Deaths_from_Secondhand_Smoke',
    'Deaths - Cause: All causes - Risk: Low birth weight - Sex: Both - Age: All Ages (Number)': 'Death_from_Low_Birth_Weight',
    'Deaths - Cause: All causes - Risk: Child wasting - Sex: Both - Age: All Ages (Number)': 'Deaths_from_Child_Wasting',
    'Deaths - Cause: All causes - Risk: Unsafe sex - Sex: Both - Age: All Ages (Number)': 'Deaths_from_Unsafe_Sex',
    'Deaths - Cause: All causes - Risk: Diet low in nuts and seeds - Sex: Both - Age: All Ages (Number)': 'Deaths_from_Diet_low_in_nuts_and_seeds',
    'Deaths - Cause: All causes - Risk: Household air pollution from solid fuels - Sex: Both - Age: All Ages (Number)': 'Death_from_Household_Air_Pollution_from_Solid_Fuels',
    'Deaths - Cause: All causes - Risk: Diet low in vegetables - Sex: Both - Age: All Ages (Number)': 'Deaths_from_Diet_Low_in_Vegetables',
    'Deaths - Cause: All causes - Risk: Low physical activity - Sex: Both - Age: All Ages (Number)': 'Deaths_Low_Physical_Activity',
    'Deaths - Cause: All causes - Risk: Smoking - Sex: Both - Age: All Ages (Number)': 'Deaths_from__Smoking',
    'Deaths - Cause: All causes - Risk: High fasting plasma glucose - Sex: Both - Age: All Ages (Number)': 'Deaths_from_High_Fasting_Plasma_Glucose',
    'Deaths - Cause: All causes - Risk: Air pollution - Sex: Both - Age: All Ages (Number)': 'Deaths_from_Air_Pollution',
    'Deaths - Cause: All causes - Risk: High body-mass index - Sex: Both - Age: All Ages (Number)': 'Deaths_from_High_Body_Mass_Index',
    'Deaths - Cause: All causes - Risk: Unsafe sanitation - Sex: Both - Age: All Ages (Number)': 'Deaths_from_Unsafe_Sanitation',
    'Deaths - Cause: All causes - Risk: No access to handwashing facility - Sex: Both - Age: All Ages (Number)': 'Deaths_from_No_Access_to_Handwashing Facility',
    'Deaths - Cause: All causes - Risk: Drug use - Sex: Both - Age: All Ages (Number)': 'Deaths_from_Drug_Use',
    'Deaths - Cause: All causes - Risk: Low bone mineral density - Sex: Both - Age: All Ages (Number)': 'Deaths_from_Low_Bone_Mineral_Density',
    'Deaths - Cause: All causes - Risk: Vitamin A deficiency - Sex: Both - Age: All Ages (Number)': 'Deaths_from_VitaminA_Deficiency',
    'Deaths - Cause: All causes - Risk: Child stunting - Sex: Both - Age: All Ages (Number)': 'Deaths_from_Child_Stunting',
    'Deaths - Cause: All causes - Risk: Discontinued breastfeeding - Sex: Both - Age: All Ages (Number)': 'Deaths_from_Discontinued_Breastfeeding',
    'Deaths - Cause: All causes - Risk: Non-exclusive breastfeeding - Sex: Both - Age: All Ages (Number)': 'Deaths_from_Non_Exclusive_Breastfeeding',
    'Deaths - Cause: All causes - Risk: Iron deficiency - Sex: Both - Age: All Ages (Number)': 'Deaths_from_Iron_Deficiency'
})

deaths_by_risk_factor.head()

,Country,ISO3,Year,Deaths_from_Outdoor_Air_Pollution,Deaths_from_High_Systolic_Blood_Pressure,Deaths_from_High_Sodium_Diet,Deaths_from_Low_Whole_Grains_Diet,Deaths_from_Alcohol_Use,Deaths_from_Low_Fruits_Diet,Deaths_from_Unsafe_Water_Source,...,Deaths_from_High_Body_Mass_Index,Deaths_from_Unsafe_Sanitation,Deaths_from_No_Access_to_Handwashing Facility,Deaths_from_Drug_Use,Deaths_from_Low_Bone_Mineral_Density,Deaths_from_VitaminA_Deficiency,Deaths_from_Child_Stunting,Deaths_from_Discontinued_Breastfeeding,Deaths_from_Non_Exclusive_Breastfeeding,Deaths_from_Iron_Deficiency
0,Afghanistan,AFG,1990,3169,25633,1045,7077,356,3185,3702,...,9518,2798,4825,174,389,2016,7686,107,2216,564
1,Afghanistan,AFG,1991,3222,25872,1055,7149,364,3248,4309,...,9489,3254,5127,188,389,2056,7886,121,2501,611
2,Afghanistan,AFG,1992,3395,26309,1075,7297,376,3351,5356,...,9528,4042,5889,211,393,2100,8568,150,3053,700
3,Afghanistan,AFG,1993,3623,26961,1103,7499,389,3480,7152,...,9611,5392,7007,232,411,2316,9875,204,3726,773
4,Afghanistan,AFG,1994,3788,27658,1134,7698,399,3610,7192,...,9675,5418,7421,247,413,2665,11031,204,3833,812

In [21]:
# deaths_by_risk_factor.to_csv('deaths_by_risk_factor.csv', index=False)

In [32]:
# read the csv
deaths_rates_by_age = pd.read_csv("Resources/outdoor-air-pollution/outdoor-pollution-rates-by-age.csv")
deaths_rates_by_age

,Entity,Code,Year,Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: Under 5 (Rate),Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: 5-14 years (Rate),Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: 70+ years (Rate),Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: 15-49 years (Rate),Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: 50-69 years (Rate)
0,Afghanistan,AFG,1990,53.513443,0.772926,258.285326,5.001706,73.454321
1,Afghanistan,AFG,1991,48.115794,0.781314,252.993731,4.524409,72.133861
2,Afghanistan,AFG,1992,44.290436,0.802953,248.153433,4.018610,70.967892
3,Afghanistan,AFG,1993,43.980623,0.811577,247.668589,3.830266,71.272964
4,Afghanistan,AFG,1994,43.744352,0.790209,250.505987,3.863836,72.554477
...,...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,40.182696,0.463899,301.418735,4.219640,80.215731
6836,Zimbabwe,ZWE,2016,38.165762,0.476214,291.492273,4.130005,77.641537
6837,Zimbabwe,ZWE,2017,35.788257,0.467371,280.556991,3.978193,74.446368
6838,Zimbabwe,ZWE,2018,34.269344,0.459083,273.146813,3.912856,72.576652
6839,Zimbabwe,ZWE,2019,33.604821,0.434262,269.186080,3.901271,71.460907

In [33]:
deaths_rates_by_age = deaths_rates_by_age.rename(columns={
    'Entity': 'Country',
    'Code': 'ISO3',
    'Year': 'Year',
    'Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: Under 5 (Rate)': 'Under_5',
    'Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: 5-14 years (Rate)': '5_to_14_years',
    'Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: 70+ years (Rate)': '70+_years',
    'Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: 15-49 years (Rate)': '15_to_49_years',
    'Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: 50-69 years (Rate)': '50_to_69_years'
})

deaths_rates_by_age.head()

,Country,ISO3,Year,Under_5,5_to_14_years,70+_years,15_to_49_years,50_to_69_years
0,Afghanistan,AFG,1990,53.513443,0.772926,258.285326,5.001706,73.454321
1,Afghanistan,AFG,1991,48.115794,0.781314,252.993731,4.524409,72.133861
2,Afghanistan,AFG,1992,44.290436,0.802953,248.153433,4.018610,70.967892
3,Afghanistan,AFG,1993,43.980623,0.811577,247.668589,3.830266,71.272964
4,Afghanistan,AFG,1994,43.744352,0.790209,250.505987,3.863836,72.554477

In [43]:
# deaths_rates_by_age.to_csv('outdoor_air_death_rates_by_age.csv', index=True)

In [48]:
# read the csv
deaths_from_air_pollution = pd.read_csv("Resources/outdoor-air-pollution/death-rates-from-air-pollution.csv")
deaths_from_air_pollution

,Entity,Code,Year,Deaths - Cause: All causes - Risk: Household air pollution from solid fuels - Sex: Both - Age: Age-standardized (Rate),Deaths - Cause: All causes - Risk: Ambient particulate matter pollution - Sex: Both - Age: Age-standardized (Rate),Deaths - Cause: All causes - Risk: Air pollution - Sex: Both - Age: Age-standardized (Rate),Deaths - Cause: All causes - Risk: Ambient ozone pollution - Sex: Both - Age: Age-standardized (Rate)
0,Afghanistan,AFG,1990,370.050474,30.822693,402.175651,6.581093
1,Afghanistan,AFG,1991,358.978418,29.826184,390.085258,6.267613
2,Afghanistan,AFG,1992,352.766453,29.202030,383.201196,5.926444
3,Afghanistan,AFG,1993,357.055923,29.429702,387.704919,5.860345
4,Afghanistan,AFG,1994,362.970439,29.813259,394.022027,6.065343
...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,143.477957,38.996842,183.044625,1.091220
6836,Zimbabwe,ZWE,2016,140.643245,37.585998,179.060638,1.231540
6837,Zimbabwe,ZWE,2017,137.448374,35.811023,174.048806,1.447558
6838,Zimbabwe,ZWE,2018,133.923031,34.932825,169.534057,1.407389
6839,Zimbabwe,ZWE,2019,130.508301,34.404599,165.724397,1.435934

In [49]:
# rename the columns
deaths_from_air_pollution = deaths_from_air_pollution.rename(columns={
    'Entity': 'Country',
    'Code': 'ISO3',
    'Year': 'Year',
    'Deaths - Cause: All causes - Risk: Household air pollution from solid fuels - Sex: Both - Age: Age-standardized (Rate)': 'Household_Air_Pollution_Deaths',
    'Deaths - Cause: All causes - Risk: Ambient particulate matter pollution - Sex: Both - Age: Age-standardized (Rate)': 'Ambient_Particulate_Matter_Pollution_Deaths',
    'Deaths - Cause: All causes - Risk: Air pollution - Sex: Both - Age: Age-standardized (Rate)': 'Air Pollution_Deaths',
    'Deaths - Cause: All causes - Risk: Ambient ozone pollution - Sex: Both - Age: Age-standardized (Rate)': 'Ambient_Ozone_Pollution_Deaths'
})

# print the updated DataFrame
deaths_from_air_pollution

,Country,ISO3,Year,Household_Air_Pollution_Deaths,Ambient_Particulate_Matter_Pollution_Deaths,Air Pollution_Deaths,Ambient_Ozone_Pollution_Deaths
0,Afghanistan,AFG,1990,370.050474,30.822693,402.175651,6.581093
1,Afghanistan,AFG,1991,358.978418,29.826184,390.085258,6.267613
2,Afghanistan,AFG,1992,352.766453,29.202030,383.201196,5.926444
3,Afghanistan,AFG,1993,357.055923,29.429702,387.704919,5.860345
4,Afghanistan,AFG,1994,362.970439,29.813259,394.022027,6.065343
...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,143.477957,38.996842,183.044625,1.091220
6836,Zimbabwe,ZWE,2016,140.643245,37.585998,179.060638,1.231540
6837,Zimbabwe,ZWE,2017,137.448374,35.811023,174.048806,1.447558
6838,Zimbabwe,ZWE,2018,133.923031,34.932825,169.534057,1.407389
6839,Zimbabwe,ZWE,2019,130.508301,34.404599,165.724397,1.435934

In [50]:
# deaths_from_air_pollution.to_csv('deaths_from_air_pollution.csv', index=True)